<div class="textOnly__group">
    <div class="textOnly__copy">
        <h1 class="card__title textOnly__title tk--hdr">{{title}}</h1>
        <div class="card__desc">{{note}}</div>
        <button data-view="startButton:ButtonView"
            data-target="controller"
            data-action="advance"
            class="textOnly__goBtn btnPrimary"
            type="button"
            title="Begin">
            <span class="btn__label tk--action">Begin</span>
        </button>
    </div>
</div>
