<div class="MiniReel__group" data-class="sponsor:MiniReel__group--brandedMR">
    <header class="titleBar__group clearfix">
        <div class="titleBar__splashImg" style="background-image:url('{{splash}}')">
            &nbsp;
        </div>
        <h1 class="titleBar__title">
            <span class="titleBar__titleText tk--hdr">
                {{title}}
            </span>
        </h1>
        <div data-if="isSponsored" class="brandProfile__group">
            <a data-if="logo"
                href="{{website}}"
                title="{{sponsor}}"
                target="_blank"
                class="brandProfile__logoBox">
                <img class="brandProfile__logo" alt="{{sponsor}}" src="{{logo}}">
            </a>
            <div class="brandProfile__linksBox">
                <a data-if="sponsor"
                    href="{{website}}"
                    title="{{sponsor}}"
                    target="_blank"
                    class="brandProfile__brandURL">
                    {{sponsor}}
                </a>
                <div data-if="links.length" data-view="links:LinksListView" class="brandProfile__links">
                    <span><a href="{{href}}"
                        title="{{label}}" target="_blank"
                        class="brandProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                        <span class="ir">{{label}}</span>
                    </a></span>
                </div>
            </div>
        </div>
    </header>

    <ul data-view="cards:DeckView" class="cards__list"></ul>
    <ul data-view="prerollOutlet:DeckView" class="cards__list"></ul>

    <div data-view="pagerOutlet:View"></div><!--Pager outlet-->
</div><!--.MiniReel-->
