

/*  ================================================
    recap card classes
    ================================================ */
    .recap__list {
        width:100%;
        position: absolute; 
        top:0; bottom:3.25em;
        overflow-y:auto; overflow-x:hidden;
        margin:0; padding:0; list-style: none;
        border-bottom:3px solid #333;
        border-top:3px solid #333;
        counter-reset: recap;
    }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .recap__list {
                bottom:4.25em;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .recap__list {
                bottom:5.25em;
            }
        }
        .recap__item {
            position:relative;
            padding:1em 0; 
            border-bottom:1px solid #ddd;
            cursor:pointer;
        }
            .recap__item:last-child {
                border-bottom:0;
            }


            .recap__imgBox {
                width:8em; height:5em;
                background:url('../img/default_square.jpg') 50% 50% / cover no-repeat;
                float:left;
                margin:0 1em 0 3em;
            }
                .recap__imgBox:before {
                    counter-increment: recap;
                    content:counter(recap);
                    display:block;
                    width:2em;
                    font-size:0.75em;
                    text-align: right;
                    color:#6c6c6c;
                    margin:7px 0 0 0;
                    position: absolute;
                    left:0.5rem;
                }
                .recap__item--ad .recap__imgBox:after {
                    content:'Ad';
                    position: absolute;
                    top:1.8em; left:5em;
                    background:#000; color:#fff;
                    padding:0 2px;
                    font-size:0.625rem; font-weight:bold;
                }

                .recap__img {
                    width:8em; height:5em;
                    display: block;
                    background: 50% 50% / cover no-repeat;
                }


            .recap__copyBox {
                float:left;
                width:calc(100% - 13em);
            }
                .card__desc--recapCard {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-top:0.25rem;
                }

