
/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0;
    }


        .sponsorProfile__imgBox {
            width:2.75em; height:2.75em;
            float:left;
            border:1px solid #ddd;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:2.625em; height:2.625em;
                display: block;
            }

        .sponsorProfile__copy {
            float:left;
            width:calc(100% - 3.25em);
        }
        

        .sponsorProfile__links {
            line-height: 1;
            margin:0.25em 0 1.5em 0;
            display: inline-block;
            vertical-align: top;
        }
            .sponsorProfile__tag {
                margin:0.125rem 0 0 0;
            }
            .sponsorProfile__link {
                border:0;
                float:left;
                padding: 0 0.125em;
            }

            .sponsor__actions {
                margin:1em 0;
            }
                .sponsor__goBtn {
                    margin:0 0 1em 0;
                    padding:0.25em 1em;
                    border-radius:3px;
                    display:table;
                }
    /**sponsored share link dropdown **/
    .socialIconsBe.socialIconsBe--share:before {
        vertical-align: top;
    }
    .sponsorProfile__link--menu ul
    {
        list-style:none;
        position:relative;
        float:left;
        margin:0;
        padding:0
    }

        .sponsorProfile__link--menu ul a
        {
            display:block;
            color:#333;
            text-decoration:none;
            font-size: 0.7em;
            line-height: 1em;
            padding: 0.25em;
            margin-left: 0.25em;
        }

        .sponsorProfile__link--menu ul li
        {
            position:relative;
            float:left;
            margin:0;
            padding:0
        }

        .sponsorProfile__link--menu ul li:hover
        {
            background:#eee;
        }
            .sponsorProfile__link--menu ul li:hover > ul
            {
                display:block
            }
        .sponsorProfile__link--menu ul ul
        {
            display:none;
            position:absolute;
            top:100%;
            left:0;
            background:#f5f5f5;
            padding:0
        }

            .sponsorProfile__link--menu ul ul li
            {
                float:none;
                width: 90px;
            }

            .sponsorProfile__link--menu ul ul a
            {
                line-height:120%;
                    padding: 10px 5px;
            }
    /**sponsored share link dropdown - ends**/

        @media screen and (min-width:75rem) and (min-height:45rem) {
            /*  w: 1200px ++
            /   h: 720px ++ */
            .sponsor__goBtn {
                padding:0.5em 1.25em;
            }
            .sponsorProfile__tag {
                float:none;
            }
                .recap__copyBox .sponsorProfile__tag {
                    float:left;
                }

            .recap__copyBox .sponsorProfile__links {
                margin:0;
            }
        }

