


/*  ================================================
    Branded MR classes
    ================================================ */
    .MiniReel__group {
        background:#fff;
    }
    .MiniReel__group--brandedMR .titleBar__title {
        margin:0.8125em 0 0 0;
        width:calc(100% - 24em);
    }


    .brandedMR__tagline {
        display:block; 
        color:#999;
        font-size:0.8125em;
        font-weight:normal;
        line-height: 1;
    }
        .brandedMR__taglineBrand {
            font-weight:bold;
        }


    .brandProfile__group {
        float:right;
        width:18.75em;
        margin:0;
        position:relative;
    }

        .brandProfile__logoBox {
            width:3em; height:3em;
            border:1px solid #ddd;
            display: block;
            position:absolute;
            top:0.5em; right:0.5em;
        }
            .brandProfile__logo {
                width:2.875em; height:2.875em;
                display: block;
            }


        .brandProfile__linksBox {
            position:absolute;
            top:0.375em; right:4em;
            text-align: right;
        }

            .brandProfile__brandURL {
                font-weight:bold; font-size:0.8125em;
                margin-right:0.25rem;
            }
            .brandProfile__link {
                padding:0 0.25rem;
                float:right;
                line-height:1;
            }

