

       
/*  ================================================
    facebook image card
    ================================================ */

    .facebook____player__group {
        width:100%;
        position:absolute;
        background:#e9eaed;
        border:1px solid #dfe0e4;
        font-size:1.125em;
        overflow:hidden;
    }
            

        .facebook____mediaImg__group {
            position:absolute;
            top:1em;
            bottom:1em;
            left:1em;
            right:31em;
            
        }

            .facebook____mediaImg__box {
                width:100%;
                height:100%;
                background:#000;
                border-radius:2px 0 0 2px;
                border:1px solid #dfe0e4;
            }

            .facebook____mediaImg {
                height:100%;
                background:center/contain no-repeat;
            }


        .facebook____post__group {
            border-radius:0 2px 2px 0;
            border:1px solid #dfe0e4;
            border-left:none;
            background-color:#fff;
            position:absolute;
            top:1em;
            bottom:1em;
            right:1em;
            width:30em;
            font-family: Helvetica, Arial, sans-serif;
        }

            .facebook____post__container {
                overflow-y:auto;
                position:absolute;
                top:0.75em;
                bottom:8rem;
                left:0.75em;
                right:0.75em;
            }

                .facebook____post__pic {
                    display:block;
                    width:15%;
                    min-width:3rem;
                    float:left;
                }


                    .facebook____post__name {
                        font-size:0.875em;
                        font-weight:700;
                        color:#3b5998;
                        text-align:left;
                        display:block;
                        float:right;
                        width:80%;
                    }

                    .facebook____post__timeStamp {
                        display:block;
                        float:left;
                        margin:0 0 0 5%;
                        font-size:0.875em;
                        color:#555555;
                    }

                    .facebook____post__bullet {
                        display:block;
                        float:left;
                        margin:0 0 0 0.5em;
                        position:relative;
                        color:#555555;
                    }

                    .facebook____post__bullet:after {
                        content:'';
                        width:1em;
                        height:1em;
                        display:block;
                        position:absolute;
                        top:0.3125em;
                        left:1em;
                        font-size:0.875em;
                        background:url('../../img/social-card-sprites.png') -3.25em -8.5em/ 17em no-repeat;
                    }

        

                .facebook____post__copy {
                    color:#141823;
                    font-size:1.125em;
                }

                    .facebook____post__link {
                        color:#3b5998;
                    }

                    .facebook____post__likes {
                        color:#141823;
                        font-size:0.875em;
                        margin:2em 0 1em;
                        padding:0 0 1em 0;
                        border-bottom:1px solid #f0f0f0;
                    }


            .facebook____feedback__group {
                font-size:0.875em;
                display:block;
                margin:0 0 1.5em 0;
                padding:0;
                list-style:none;
                width:100%;
            }

                .facebook____feedback__box {
                    display:inline-block;
                    width:32%;
                }

                    .facebook____feedback__like,
                    .facebook____feedback__comment,
                    .facebook____feedback__share {
                        display:block;
                        width:7em;
                        margin:0 auto;
                        text-align:center;
                        color:#8899a6;
                        font-weight:700;
                        position:relative;
                    }

                    .facebook____feedback__like:before,
                    .facebook____feedback__comment:before,
                    .facebook____feedback__share:before {
                        content:'';
                        background:url('../../img/social-card-sprites.png') 0 0/17em no-repeat;
                        position:absolute;
                        display:block;
                    }
                    .facebook____feedback__like:before {
                        background-position:-5.25em -8.5em;
                        width:1.25em;
                        height:1.25em;
                        left:0.5em;
                    }
                    .facebook____feedback__comment:before {
                        background-position:-7.5em -8.5em;
                        width:1.125em;
                        height:1.125em;
                        top:0.125em;
                        left:-0.5em;
                    }
                    .facebook____feedback__share:before {
                        background-position:-9.75em -8.5em;
                        width:1.25em;
                        height:1.125em;
                        left:0.5em;
                    }


            .facebook____profile__group {
                height:7.5rem;
                padding:0.75em;
                position:absolute;
                bottom:0;
                left:0;
                right:0;
                background:#f6f7f8;
            }

                .facebook____profile__name {
                    color:#3b5998;
                    font-size:0.875em;
                    display:block;
                    width:50%;
                }

                .facebook____profile__data {
                    color:#9197a3;
                    font-size:0.75em;
                    display:block;
                    width:100%;
                    margin:0;
                }

                .facebook____profile__likePage,
                .facebook____profile__likePage:focus {
                    position:absolute;
                    top:1em;
                    right:1em;
                    padding:0.25em 3em 0.25em 4.5em;
                    border:1px solid #b6b7b9;
                    border-radius:2px; 
                    font-size:0.75em;
                    color:#4e5665;
                }

                    .facebook__profile__logo:before {
                        content:'';
                        background:url('../../img/social-card-sprites.png') -1.0625em -8.5em/17em no-repeat;
                        position:absolute;
                        top:0.3125em;
                        left:3em;
                        display:block;
                        width:1.375em;
                        height:1.375em;
                    }

            
        
    /*  facebook image card MEDIA QUERIES--  full__global.css
    ================================================ */

        @media screen and  (max-width:100rem) {
            /*  w: 0px -  1600px */

            .facebook____player__group {
                font-size:0.875em;
            }


            .facebook____mediaImg__group {
                right:21em;
            }

            .facebook____post__group {
                width:20em;
            }

                .facebook____post__name {
                    width: 75%;
                }

                .facebook____post__timeStamp {
                    margin-left:0;
                }

                .facebook____post__bullet {
                    font-size: 0.875em;
                }

                    .facebook____feedback__like,
                    .facebook____feedback__comment,
                    .facebook____feedback__share {
                        width:5.25em;
                    }

                    .facebook____feedback__like:before {
                        left:0;
                    }
                    .facebook____feedback__comment:before {
                        left:-1em;
                    }
                    .facebook____feedback__share:before {
                        left:0;
                    }
        }

        @media screen and (max-width:55rem) {
            /*  w: 0px - 880 */

        .facebook____mediaImg__group {
            left:1em;
            right:1em;
            bottom:8.75rem;
        }

        .facebook____post__group {
            width:auto;
            height:8rem;
            top:auto;
            bottom:1em;
            left:1em;
            right:1em;
            overflow-y: auto;
        }

            .facebook____post__container {
                bottom:auto;
            }

                .facebook____post__pic {
                    width:4rem;
                }

                .facebook____post__name {
                    width:calc(100% - 4.5rem);
                    padding-right:0.5em;
                }

                .facebook____post__timeStamp {
                    margin-left:0.5rem;
                }


                .facebook____feedback__like, 
                .facebook____feedback__comment, 
                .facebook____feedback__share {
                    width:7em;
                }

                .facebook____feedback__like:before {
                    left:1em;
                }
                .facebook____feedback__comment:before {
                    left:-0.25em;
                }
                .facebook____feedback__share:before {
                    left:0.75em;
                }

            .facebook____profile__group {
                display:none;
            }

        }


        @media screen and (max-width:42rem) {
            /*  w: 0px - 762 */

                .facebook____post__pic {
                    max-width:3rem;

                }

                .facebook____post__name {
                    width:100%;
                }

                .facebook____post__timeStamp {
                    margin-left:0;
                }

                .facebook____post__copy {
                    font-size:1em;
                    margin:1em 0;
                }

            .facebook____feedback__group {
                margin-bottom:0.5em;
            }

                .facebook____feedback__box {
                    width:100%;
                }

                    .facebook____feedback__like,
                    .facebook____feedback__comment,
                    .facebook____feedback__share {
                        width:auto;
                        text-align:left;
                        margin-left:2em;
                        margin-bottom:0.5em;
                    }

                    .facebook____feedback__like:before,
                    .facebook____feedback__comment:before,
                    .facebook____feedback__share:before {
                        left:-2em;
                    }


        }




/*  ================================================
    facebook video card
    ================================================ */


    .facebook____mediaVid__group {
        position:absolute;
        top:1em;
        bottom:1em;
        left:1em;
        right:31em;
        border-radius:2px 2px 0 0;
        border:1px solid #000;
        
    }

        .facebook____mediaVid__box {
            background:#000;
            width:100%;
            height:100%;
        }

            .facebook____mediaVid {
                width:100%;
                height:100%;
                position:absolute;
                border:0;
            }



    /*  facebook video card MEDIA QUERIES
        ================================================ */

        @media screen and (max-width:100rem) {
            /*  w:0px - 1600px */

            .facebook____mediaVid__group {
                right:18rem;
            }
        }


        @media screen and (max-width:55rem) {
            /*  w: 0px - 880px */

            .facebook____mediaVid__group {
                bottom:10em;
                right:1rem;
            }
        }





/*  ================================================
    facebook article card
    ================================================ */

    .facebook____media__group {
        position:absolute;
        top:1em;
        bottom:1em;
        left:1em;
        right:31em;
    }

        .facebook____media__source {
            display:block;
        }

            .facebook____media__imgSize {
                position:absolute;
                top:0;
                bottom:8.5rem;
                left:0;
                right:0;
            }

                .facebook____media__imgBox {
                    width:100%;
                    height:100%;
                    border-radius:2px 0 0 0;
                    border:1px solid #dfe0e4;
                    background:#000;
                }

                    .facebook____media__img {
                        height:100%;
                        background:center/cover no-repeat;
                    }

        .facebook____media__article {
            height:8.5rem;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            border-radius:0 0 0 2px;
            border:1px solid #dfe0e4;
            border-top:none;
            background:#fff;
            font-family: Georgia, Helvetica, Arial, sans-serif;
        }

            .facebook____media__title,
            .facebook____media__copy {
                color:#141823;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                margin:0.5em 1rem;
            }

            .facebook____media__link {
                font-size:0.625em;
                font-family: Helvetica, Arial, sans-serif;
                text-transform:uppercase;
                color:#9197a3;
                margin:2em 1rem 1em;
            }



        .facebook____post__box {
            overflow-y:auto;
            position:absolute;
            top:0.75em;
            bottom:0.75em;
            left:0.75em;
            right:0.75em;
        }

            .facebook____post__box .facebook____post__copy {
                position:absolute;
                top:4.5em;
                bottom:4.5em;
                overflow-y:auto;
            }

            .facebook____post__box .facebook____post__likes {
                position:absolute;
                bottom:1.75em;
                display:block;
                width:100%;
            }

            .facebook____post__box .facebook____feedback__group {
                position:absolute;
                bottom:0.75em;
                height:1em;
                display:block;
                margin:0;
            }






    /*  facebook article card MEDIA QUERIES
        ================================================ */

        @media screen and (max-width:100rem) {
            /*  w:0px - 1600px */

            .facebook____media__group {
                right:21em;
            }

                .facebook____media__imgSize {
                    bottom:6.75rem;
                }

                .facebook____media__article {
                    height:6.75rem;
                }
        }


        @media screen and (max-width:55rem) {
            /*  w: 0px - 880 */

        .facebook____media__group {
            left:1em;
            right:1em;
            bottom:8.5rem;
        }

        .facebook____post__group {
            overflow-x:hidden;
            border-left:inherit;
        }

            .facebook____post__box .facebook____post__copy {
                position:static;
            }


            .facebook____post__box .facebook____post__likes {
                position:static;
                width:auto;
                margin-right:0.5em;
            }

            .facebook____post__box .facebook____feedback__group {
                position:static;
                height:2em;
            }



                
        }


        @media screen and (max-width:42rem) and (max-height:31.25rem) {
            /*  w: 0px - 500 */

            .facebook____media__imgSize {
                display:none;
            }

            .facebook____media__article {
                height:auto;
                top:0;
                overflow-y:auto;
            }

                
        }




/*  ================================================
    facebook text card
    ================================================ */
    section.facebook____profile__group {
        height:auto;
        padding:0.75em;
        position:relative;
        top:1em;
        left:10em;
        width:21em;
        border:1px solid #dfe0e4;
        background:#fff;
    }

        section.facebook____profile__group .facebook____profile__name {
            width:auto;
        }

        section.facebook____profile__group .facebook____profile__data {
            margin: 0.5em 0 1em;
        }

        section.facebook____profile__group .facebook____profile__likePage,
        section.facebook____profile__group .facebook____profile__likePage:focus {
            position:relative;
            top:auto;
            bottom:0;
            left:0;
            right:auto;
            background:#f6f7f8;
        }

            section.facebook____profile__group .facebook__profile__logo:before {
                top:0.125em;
            }

                

    .facebook____post__group--text {
        border-radius:0 2px 2px 0;
        border:1px solid #dfe0e4;
        background-color:#fff;
        position:absolute;
        top:1em;
        bottom:1em;
        left:32em;
        right:10em;;
        font-family: Helvetica, Arial, sans-serif;
    }

        .facebook____post__group--text .facebook____post__box {
            top:1em;
            bottom:1em;
            left:1em;
            right:1em;
        }      

            .facebook____post__group--text .facebook____post__pic {
                width:6rem;
            }

            .facebook____post__group--text .facebook____post__name {
                width:calc(100% - 7rem);
                font-size:1.25em;
            }

            .facebook____post__group--text .facebook____post__timeStamp {
                margin:0 0 0 1rem;
                font-size:1em;
            }


                .facebook____post__group--text .facebook____post__copy {
                    font-size:1.5em;
                }

                .facebook____post__group--text .facebook____post__likes {
                    bottom:2.5em;
                    font-size:1em;
                }

                .facebook____post__group--text .facebook____feedback__group {
                    font-size:1.125em;
                    height:1.125em;
                }

                    .facebook____post__group--text .facebook____feedback__box {
                        width:7em;
                    }

    /*  facebook text card MEDIA QUERIES
        ================================================ */

        @media screen and  (max-width:100rem) {
            /*  w: 0px -  1600px */

            section.facebook____profile__group {
                left:1em;
                width:15em;
            }

            .facebook____post__group--text {
                left:17em;
                right:1em;
            }

                .facebook____post__group--text .facebook____post__pic {
                    width:4rem;
                }

                .facebook____post__group--text .facebook____post__name {
                    width:calc(100% - 5rem);

                }

        }

        @media screen and (max-width:65rem) {
            /*  w: 0px - 1040 */

            section.facebook____profile__group {
                width:9em;
                display:block;
            }

            .facebook____post__group--text {
                left:11em;
            }

                .facebook____post__box .facebook____feedback__group {
                    font-size:0.9375em;
                }

                    .facebook____post__group--text .facebook____post__name {
                        font-size:0.9375em;
                    }

                    .facebook____post__group--text .facebook____post__timeStamp {
                        font-size:0.9375em;
                    }

        }

        @media screen and (max-width:55rem) {
            /*  w: 0px - 880 */

            .facebook____post__group--text {
                left:1em;
            }

                .facebook____post__group--text .facebook____post__copy {
                    font-size:1.125em;
                }

        }


        @media screen and (max-width:42rem) {
            /*  w: 0px - 672 */

            .facebook____post__group--text .facebook____post__pic {
                float:none;
            }

            .facebook____post__group--text .facebook____post__name {
                width:auto;
                float:none;
                font-size:0.875em;

            }

            .facebook____post__group--text .facebook____post__timeStamp {
                margin-left:0;
                font-size:0.875em;
            }

            .facebook____post__group--text .facebook____post__copy {
                font-size:1em;
            }

            .facebook____post__group--text .facebook____post__likes {
                font-size:0.875em;
            }


        }

        @media screen and (max-height:24rem) and (max-width:55rem) {
            /*  w: 0px - 880px 
                h: 0px - 384px  */
            section.facebook____profile__group {
                display:none;
            }
        }




