/*  ================================================
    pinterest image card
    ================================================ */

    .pinterest____player__group {
        width:100%;
        position:absolute;
        background:#eeeeee;
        border:1px solid #e9e9e9;
        font-size:1.125em;
        overflow:hidden;
    }
            

        .pinterest____mediaImg__group {
            position:absolute;
            top:1em;
            bottom:1em;
            left:1em;
            right:31em;   
        }

            .pinterest____media__btn,
            .pinterest____media__btn:focus {
                position:absolute;
                top:1em;
                left:1em;
                z-index:1;
                display:block;
                width:5em;
                height:2em;
                background-image:linear-gradient(#e3262e, #ab171e);
                background-color:#ab171e;
                box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
                border:1px solid #920c12;
                border-radius:6px;
            }

                .pinterest____media__pinIt {
                    background:url('../../img/social-card-sprites.png') -1.125em -5.5em/17em no-repeat;
                    width:2.75em;
                    height:1.125em;
                    position:absolute;
                    top:0.375em;
                    left:1em;
                }

            .pinterest____mediaImg__box {
                width:100%;
                height:100%;
                background:#000;
                border-radius:6px 0 0 6px;
                border:1px solid #e9e9e9;
            }

            .pinterest____mediaImg {
                height:100%;
                background:center/contain no-repeat;
            }


        .pinterest____pin__group {
            border-radius:0 6px 6px 0;
            border:1px solid #e9e9e9;
            border-left:none;
            background-color:#fff;
            position:absolute;
            top:1em;
            bottom:1em;
            right:1em;
            width:30em;
            font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

            .pinterest____pin__container {
                overflow-y:auto;
                position:absolute;
                top:0.75em;
                bottom:8rem;
                left:0.75em;
                right:0.75em;
            }

        

                .pinterest____pin__copy {
                    color:#333333;
                    font-size:1.125em;
                    margin:0 0 1em 0;
                }

                    .pinterest____pin__link {
                        color:#171717;
                        font-weight:700;
                    }




            .pinterest____feedback__group {
                font-size:0.875em;
                display:block;
                margin:0;
                padding:0;
                list-style:none;
                width:100%;
            }

                .pinterest____feedback__box {
                    display:inline-block;
                    width:5em;
                }

                    .pinterest____feedback__pin,
                    .pinterest____feedback__like {
                        display:block;
                        width:100%;
                        padding:0 0 0 1.5em;
                        color:#a8a8a8;
                        font-weight:700;
                        position:relative;
                    }

                    .pinterest____feedback__pin:before,
                    .pinterest____feedback__like:before {
                        content:'';
                        background:url('../../img/social-card-sprites.png') 0 0/17em no-repeat;
                        position:absolute;
                        top:0.25em;
                        left:0;
                        display:block;
                    }
                    .pinterest____feedback__pin:before {
                        background-position:-6.875em -5.5em;
                        width:1.125em;
                        height:1em;
                    }
                    .pinterest____feedback__like:before {
                        background-position:-9.125em -5.5em;
                        width:0.8125em;
                        height:0.8125em;
                    }

                .pinterest____profile__group--mobile {
                    display:none;
                }



            .pinterest____profile__group {
                height:6rem;
                position:absolute;
                bottom:0.75em;
                left:0.75em;
                right:0.75em;
                border-radius:0 0 6px 0;
                border-top:1px solid #e9e9e9;
                padding:1.5em 0 0 0;
            }

                .pinterest____profile__picBox {
                    display:block;
                    width:50%;
                    position:absolute;
                    top:-3em;
                    transform:translateX(50%);
                }

                    .pinterest____profile__pic {
                        border-radius:100%;
                        border:2px solid #fff;
                        display:block;
                        width:4em;
                        margin: 0 auto;
                    }

                .pinterest____profile__name {
                    color:#777777;
                    font-size:1em;
                    display:block;
                    width:50%;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

                .pinterest____profile__board {
                    color:#b7b7b7;
                    font-size:0.875em;
                    display:block;
                    width:100%;
                    margin:0;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

                .pinterest____profile__likePage,
                .pinterest____profile__likePage:focus {
                    position:absolute;
                    top:1.5em;
                    right:0;
                    display:block;
                    width:6em;
                    height:2em;
                    padding:0.125em 0 0 0;
                    background-image:linear-gradient(#e3262e, #ab171e);
                    background-color:#ab171e;
                    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
                    border:1px solid #920c12;
                    border-radius:6px;
                }

                    .pinterest__profile__logo {
                        color:#fff;
                        margin:0 0 0 2em;
                    }

                    .pinterest__profile__logo:before {
                        content:'';
                        background:url('../../img/social-card-sprites.png') -11.0625em -5.5em/17em no-repeat;
                        position:absolute;
                        top:0.3125em;
                        left:0.75em;
                        display:block;
                        width:1em;
                        height:1.375em;
                    }

            
        
    /*  pinterest image card MEDIA QUERIES--  full__global.css
    ================================================ */

        @media screen and (max-width:100rem) {
            /*  w: 0px -  1600px */

            .pinterest____player__group {
                font-size:0.875em;
            }


            .pinterest____mediaImg__group {
                right:21em;
            }

            .pinterest____pin__group {
                width:20em;
            }

                .pinterest____pin__container {
                    bottom:6rem;
                }

                .pinterest____profile__group {
                    height:4.5rem;
                }

        }

        @media screen and (max-width:55rem), screen and (max-width:55rem) and (max-height:45rem) {
            /*  w: 0px - 880px  */
            /*  w: 0px - 880px 
                h: 0px - 720px  */

            .pinterest____mediaImg__group {
                left:1em;
                right:1em;
                bottom:8.75rem;
            }

                .pinterest____mediaImg__box {
                    border-radius:6px 6px 0 0;
                }

            .pinterest____pin__group {
                width:auto;
                height:8rem;
                top:auto;
                bottom:1em;
                left:1em;
                right:1em;
                overflow-y: auto;
                border-radius:0 0 6px 6px;
            }

                .pinterest____pin__container {
                    bottom:auto;
                }

                    .pinterest____profile__group--mobile {
                        display:block;
                        height:5em;
                        border-top:1px solid #e9e9e9;
                        margin:1em 0 0;
                        padding:1em 0;
                    }

                        .pinterest____profile__group--mobile .pinterest____profile__picBox {
                            position:static;
                            width:3em;
                            margin:0 2em 0 -1.5em;
                            float:left;
                        }

                        .pinterest____profile__group--mobile .pinterest____profile__name,
                        .pinterest____profile__group--mobile .pinterest____profile__board {
                            float:left;
                            width:50%;
                        }

                .pinterest____profile__group {
                    display:none;
                }


        }

        @media screen and (max-width:55rem) and (min-height:45rem) {
            /*  w: 0px - 880px 
                h: 0px - 720px  */

            .pinterest____mediaImg__group {
                bottom:14.75rem;
            }

            .pinterest____pin__group {
                height:14rem;
            }




        }


        @media screen and (max-width:42rem) {
            /*  w: 0px - 672px */

 
                .pinterest____pin__copy {
                    font-size:1em;
                }

            .pinterest____feedback__group {
                margin-bottom:0.5em;
            }

                .pinterest____feedback__box {
                    width:100%;
                }



        }




/*  ================================================
    pinterest video card
    ================================================ */


    .pinterest____mediaVid__group {
        position:absolute;
        top:1em;
        bottom:1em;
        left:1em;
        right:31em;
        border-radius:6px 0 0 6px;
        border:1px solid #000;
        
    }

        .pinterest____mediaVid__box {
            background:#000;
            width:100%;
            height:100%;
        }

            .pinterest____mediaVid {
                width:100%;
                height:100%;
                position:absolute;
                border:0;
            }



    /*  pinterest video card MEDIA QUERIES
        ================================================ */

        @media screen and (max-width:100rem) {
            /*  w:0px - 1600px */

            .pinterest____mediaVid__group {
                right:18rem;
            }
        }


        @media screen and (max-width:55rem), screen and (max-width:55rem) and (max-height:45rem) {
            /*  w: 0px - 880px  */
            /*  w: 0px - 880px 
                h: 0px - 720px  */

            .pinterest____mediaVid__group {
                bottom:8.75rem;
                right:1rem;
                border-radius:6px 6px 0 0;
            }
        }

        @media screen and (max-width:55rem) and (min-height:45rem) {
            /*  w: 0px - 880px 
                h: 0px - 720px  */

            .pinterest____mediaVid__group {
                bottom:14.75rem;            }
        }




