
/*  ================================================
    Text Only Card classes
    ================================================ */
    .textOnly__copy {
        position:absolute;
        top:0; left:0; bottom:0; right:0;
        padding:0 3em;
        overflow-y: auto; overflow-x:hidden;
    }
        .textOnly__title {
            color:#000; 
            font-size:2.25em; line-height:1;
            margin:5.5625rem 0 1.5rem 0;
        }
        @media screen and (max-width:50rem) {
            /*800px*/
            .textOnly__title {
                margin-top:2.5rem;
            }
        }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .textOnly__title {
                font-size:2.5em;
                margin-top:7.5rem;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .textOnly__copy {
                padding:0 6em;
            }
            .textOnly__title {
                font-size:2.75em;
                margin-top:10rem;
            }
        }

        .textOnly__goBtn {
            padding:0.5em 2em;
            margin:1.1875em 0 0 0;
        }


