/*  ================================================
    background transitions
    ================================================ */
    .btnPrimary,
    .recap__item,
    .ballot__btn:before,
    .player__playBtn,
    .actionsModal__btn:after,
    .cta__box {
        -webkit-transition:background 0.3s;
        -moz-transition:background 0.3s;
        -o-transition:background 0.3s;
        transition:background 0.3s;
    }

    .ballot__btn:hover:before,
    .actionsModal__btn:hover:after {
        background-color:#d94040;
    }
    .btnPrimary:hover {
        background-color: rgb(255, 255, 255);
        color: #d94040;
    }
    .playlist__item:hover,
    .recap__item:hover {
        background-color:#eee;
    }

    .ballot__btn1:hover:before {
        background-color:#1789cb;
    }
    .cta__box:hover {
        background-color: #BA2222;
    }


    .title__group {
        -webkit-transition: max-height .5s ease-in-out;
        -moz-transition: max-height .5s ease-in-out;
        -o-transition: max-height .5s ease-in-out;
        transition: max-height .5s ease-in-out;
    }
    .title__group:hover {
        max-height:100%;
    }

    .ballot__btn0:hover .ballot__btnLabel {
        color: #d94040;
        text-shadow:none;
    }

    .ballot__btn1:hover .ballot__btnLabel {
        color: #1789cb;
        text-shadow:none;
    }