/*  ================================================
    mobile-card view import styles
    ================================================ */
/*  Mobile-card import styles */

    /*  ================================================
    mobile view import styles
    ================================================ */
/*  Mobile import styles */

    /*  global styles
        c6 copy classes : general type and color styles
        helper classes
        splash screen classes
        ============================================= */
        @import url('mobile/mobile__base.css');

    /*  MiniReel styles
            Ballot
            results group
            actions Modal group classes
        ============================================= */    
        @import url('mobile/video-card.css');

    /*  toc classes
        ============================================= */    
        @import url('mobile/toc.css');

    /*  image card classes
        ============================================= */   
        @import url('mobile/image-card.css');

    /*  sponsored card classes
        ============================================= */ 
        @import url('mobile/sponsored-card.css');

    /*  instagram card classes
        ============================================= */ 
        @import url('mobile/instagram-card.css');

    /*  recap card classes
        ============================================= */ 
        @import url('mobile/recap-card.css');

    /*  branded MR classes
        ============================================= */ 
        @import url('mobile/branded-mr.css');

    /*  publisher styles
        ============================================= */ 
        @import url('mobile/publisher-styles.css');

    /*  nav bar classes 
            nav bar styles : portrait view
            nav bar styles : landscape view
        ============================================= */ 
        @import url('mobile/nav-bar.css');
        
    /*  single card styles
            Portrait view : Sponsored and non-sponsored
            Landscape view : Sponsored and non-sponsored
        ============================================= */ 
        @import url('mobile/single-card.css');

    /*  social share modal styles
            popup : portrait view
            popup : landscape view
        ============================================= */ 
        @import url('mobile/modal-share.css');

    /*  full width video only styles
            full video : portrait view
            full video : landscape view
        ============================================= */ 
        @import url('mobile/full-video.css');













    /*  font imports
        ============================================= */
        @font-face {
			font-family: 'fontello';
			src: url('../fonts/SocialIcons/font/fontello.eot'); /* IE9 Compat Modes */
			src: url('../fonts/SocialIcons/font/fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		    	url('../fonts/SocialIcons/font/fontello.woff') format('woff'), /* Pretty Modern Browsers */
		    	url('../fonts/SocialIcons/font/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
		    	url('../fonts/SocialIcons/font/fontello.svg#svgfontello') format('svg'); /* Legacy iOS */
		}

    /*  MiniReel styles
        	Ballot
            results group
            actions Modal group classes
        ============================================= */    
        @import url('mobile/video-card.css');

    /*  social share modal styles
            popup : portrait view
            popup : landscape view
        ============================================= */ 
        @import url('mobile/modal-share.css');
        
    /*  Structure for mobile-card
        ============================================= */
		@import url("./mobile-card/structure.css");

    /*  Video-card styles
        ============================================= */
		@import url("./mobile-card/styles.css");

