/*  ================================================
    global styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: Arial, Helvetica, sans-serif; 
        font-weight:normal; 
        color:#545454;
        line-height: 1.5;

        background:#eee; 
        margin:0;
    }

    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */        
    a {
        text-decoration: none; color:#00c0ff;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    /* by default, these are undefined
    .tk--hdr {
        font-family: Arial, Helvetica, sans-serif;
    }
    .tk--copy {
        font-family: Arial, Helvetica, sans-serif; 
    }
    */
    .tk--alert {
        color:#ff0000;
    }



/*  ================================================
    helper classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }

    .c6sprite:after {
        background:url('../img/c6-card-flipper-sprite@2x--00c0ff.png') 0 0 / 6.25em 1.25em no-repeat;
        content:'';
        position: absolute;
        top:50%; left:50%; z-index: 0;
        font-size:1rem;
    }
        .c6sprite--infoIcon:after,
        .c6sprite--closeIcon:after {
            width:1.25em; height:1.25em;
            background-position:0 0;
            margin:-0.625em 0 0 -0.625em;
        }
        .c6sprite--closeIcon:after {
            background-position:-1.25em 0;
        }
        .c6sprite--leftArrowIcon:after,
        .c6sprite--rightArrowIcon:after {
            width:0.75em; height:1.25em;
            background-position: -2.5em 0;
            margin:-0.625em 0 0 -0.375em;
        }
        .c6sprite--rightArrowIcon:after {
            background-position:-3.625em 0;
        }
        .c6sprite--flipIcon:after {
            width:1.875em; height:1.25em;
            background-position:-4.375em 0;
            top:0.375em;
            margin:0 0 0 -0.9375em;
        }

    .c6icon {
        position: relative;
    }
    .c6icon:after {
        content:'';
        position:absolute;
        top:50%; left:50%;
        margin:-0.625em 0 0 -0.625em;
        width:1.25em; height:1.25em;
        background:url('../img/c6-social-media-sprite@2x.png') 0 0 / 7.5em 1.25em  no-repeat;
    }
        .c6icon--facebook:after {
            background-position:0 0;
        }
        .c6icon--twitter:after {
            background-position:-1.25em 0;
        }
        .c6icon--vimeo:after {
            background-position:-2.5em 0;
        }
        .c6icon--youtube:after {
            background-position:-3.75em 0;
        }
        .c6icon--pinterest:after {
            background-position:-5em 0;
        }
        .c6icon--link:after {
            background-position:-6.25em 0;
        }

    .viewPane {
        top:0; left:0; bottom:0; right:0;
        position: absolute;
        z-index: 10;
        overflow: hidden;
        background:#222;
        -webkit-transition: background 0.5s;
        transition: background 0.5s;
    }
        .viewPane--landscape {
            display: none;
            background:#222 url('../img/portrait-only@2x.png') 50% 50% / contain no-repeat;
        }
        .landscape__msg {
            color:#fff;
            width:18%;
            position:absolute;
            top:36%; left:41%;
            margin:0;
            text-align: center;
            font-size:1em;
        }
        .viewPane--skipLock {
            background:#000;
        }
    /* Landscape */
    @media only screen and (orientation: landscape) {
        .viewPane {
            opacity:0;
        }
            .viewPane--landscape {
                opacity:1;
                display:block;
            }
    }

    .navBtn {
        color:#00c0ff;
    }
        .navBtn:disabled {
            opacity:0.2;
        }
        .navBtn__label {
            font-size:0.625em;
            font-weight:bold;
        }

    .actionBtn {
        color:#fff;
        background:#00c0ff;
        border-radius:3px;
        margin:0 auto;
        font-size:0.875em;
        padding:0.75em 2em;
        display:block;
        text-align: center;
        -webkit-transition:background 0.5s;
        transition:background 0.5s;
    }
        .actionBtn:disabled {
            background:#ccc;
        }
        .actionBtn__label {
            font-weight:bold;
        }

    .c6Powered__text {
        position:absolute;
        bottom:0.25em;
        z-index: 10;
        text-align: center;
        font-size:0.6875em;
        color:#ccc;
        font-weight: bold;
        text-transform: uppercase;
        width:100%;
    }

    .skipLock--fadeOut {
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
        .viewPane--skipLock .skipLock--fadeOut {
            opacity:0;
        }



/*  ================================================
    headerBar__group classes
    ================================================ */
    .headerBar__group {
        position:absolute;
        width:100%;
        top:0;
    }
        .headerBar__infoBtn,
        .headerBar__closeBtn {
            width:2.5em; height:2em;
            position: absolute;
        }
            .headerBar__infoBtn {
                left:0;
            }
                .viewPane--skipLock .headerBar__infoBtn {
                    display: none;
                }
            .headerBar__closeBtn {
                right:0;
                z-index: 25;
            }



/*  ================================================
    mrTitle__group classes
    ================================================ */
    .mrTitle__group {
        position:absolute;
        left:2.5rem; right:2.5rem; top:0.375em;
        height:2.625em; overflow: hidden;
        font-size:1em;
        font-style: italic;
        color:#fff;
        line-height: 1.25;
        text-align: center;
        margin:0;
    }



/*  ================================================
    cardsHolder__group classes
    ================================================ */
    .cardsHolder__group {
        position: absolute;
        top:5.625em; bottom:3.125em; left:0; right:0;
    }
        .cards__list {
            width:10000%; 
            top:3.625em; bottom:3.625em; left:0;
            position: absolute;
            list-style:none;
            margin:0; padding:0 0 0 8%;
        }
            .cards__list--animator {
                -webkit-transition: -webkit-transform 0.5s;
                transition: transform 0.5s;
            }
            .cards__item {
                float:left;
                width:0.84%;
                height:100%;
                margin:0;
                opacity:1;
                position: relative;
                -webkit-perspective: 5000px; 
                perspective: 5000px;
                -webkit-transition:opacity 0.5s;
                transition:opacity 0.5s;
            }
                .viewPane .cards__item.ui--offscreen {
                    opacity:0.25;
                }
                .viewPane--skipLock .cards__item.ui--offscreen {
                    opacity: 0;
                }



                .card__holder {
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    -webkit-transition: -webkit-transform 0.5s;
                    transition: transform 0.5s;
                    width:100%; height:100%;
                }
                    .card__holder--flipped {
                        -webkit-transform: rotateY( 180deg );
                        transform: rotateY( 180deg );
                    }
                    .viewPane--skipLock .card__holder {
                        -webkit-transform: translate3d(0,-1em,500px);
                        transform: translate3d(0,-1em,500px);
                    }
                    .viewPane--skipLock .cards__item.ui--offscreen .card__holder {
                        transform: none;
                        -webkit-transform: none;
                    }

                .card__group {
                    background:#fff;
                    margin:0;
                    height:100%;
                    position:absolute;
                    z-index: 5;
                    border-radius:3px;
                    overflow: hidden;
                    top:0; left:0.3125em; right:0.3125em;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                    .card__group--back {
                        -webkit-transform: rotateY( 180deg );
                        transform: rotateY( 180deg );
                    }

                    .player__group {
                        width:100%; height:14em;
                        background:center center / cover no-repeat;
                        position: relative;
                        overflow: hidden;
                    }
                        .playerBox {
                            position: relative;
                            width:100%; height:100%;
                            background:50% 50% / cover no-repeat;
                        }
                        .playerBox video,
                        .playerBox object,
                        .playerBox iframe {
                            width:100% !important;
                            height:100% !important;
                            position:absolute;
                            top:0; left:0;
                            border:0;
                            background:#000;
                            -webkit-transition:opacity 0.5s;
                            transition:opacity 0.5s;
                            opacity:0;
                        }
                            .playerBox--canplay video,
                            .playerBox--canplay object,
                            .playerBox--canplay iframe {
                                opacity:1;
                                background-color: #000000;
                            }
                    .card__title {
                        color:#222;
                        font-size:1.75em;
                        margin:0.625em 0.9375rem 0 0.9375rem;
                        font-weight:normal;
                        line-height:1.25;
                    }
                        .card__title--secondary {
                            font-size:1.25em;
                        }
                        .card__source {
                            font-size:0.75em;
                            color:#ccc;
                        }
                    .card__copy {
                        color:#4d4d4d;
                        font-size:1em;
                        line-height: 1.36;
                        margin:0.75em 0.9375rem 0 0.9375rem;
                    }
                    .card__count {
                        font-size:0.75em;
                        text-align: center;
                        line-height:1.4;
                        margin:1em 0 0 0;
                        color:#ccc;
                    }

                    .card__bg {
                        position: absolute;
                        top:0; left:0;
                        width:100%; height:100%;
                        background: 50% 50% / auto 140% no-repeat;
                        opacity:0.1;
                    }

                    .card__question {
                        position:absolute;
                        top:0; left:0;
                        width:100%; height:100%;
                        background:#fff;
                        -webkit-transition: -webkit-transform 0.5s;
                        transition: transform 0.5s;
                        -webkit-transform: translate3d(0,100%,0);
                        transform: translate3d(0,100%,0);
                        text-align: center;
                    }
                        .card__question--show {
                            -webkit-transform: translate3d(0,0,0);
                            transform: translate3d(0,0,0);
                        }

                        .cardQuestion__group {
                            position: absolute;
                            top:0; left:0;
                            width:100%; height:100%;
                            z-index: 1;
                        }
                        .cardQuestion__intro {
                            color:#999;
                            font-size:0.75em;
                        }

                        .cardQuestion__options,
                        .cardQuestion__results {
                            -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                            transition: transform 0.5s, opacity 0.5s;
                            -webkit-transform: translate3d(-100%,0,0);
                            transform: translate3d(-100%,0,0);
                            opacity:0;
                            position:absolute;
                            width:100%;
                        }
                            .cardQuestion__options--show,
                            .cardQuestion__results--show {
                                -webkit-transform: translate3d(0,0,0);
                                transform: translate3d(0,0,0);
                                opacity:1;
                            }

                        .cardQuestion__btn {
                            width:90%;
                            padding:1em 0;
                            margin:1em auto;
                        }

                        .cardQuestion__closeBtn {
                            color:#00c0ff;
                            position:absolute;
                            bottom:0; left:20%;
                            font-size:0.875em;
                            width:60%;
                            padding:1em 0;
                            text-align: center;
                        }

                        .questionResult {
                            width:90%; height:2.75em;
                            margin:1em auto;
                            color:#fff;
                            position: relative;
                        }
                            .questionResult:after {
                                position: absolute;
                                content:'';
                                width:100%; height:100%;
                                top:0; left:0;
                                z-index: 0;
                                background:#000;
                                opacity:0.3;
                            }
                            .questionResult__label,
                            .questionResult__count {
                                line-height: 1;
                                font-size: 0.875em;
                                font-weight:bold;
                                display:block;
                                position: absolute;
                                z-index: 5;
                                top:1em; left:1em;
                            }
                                .questionResult__count {
                                    right:1em; left:auto;
                                    text-align: right;
                                }
                            .questionResult__bar {
                                position: absolute;
                                z-index: 2;
                                top:0; left:0;
                                height:100%;
                                overflow: hidden;
                            }



        .skipTimer__group {
            font-weight:bold;
            font-size: 0.875em;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;
            bottom:200%;
            position: absolute;
            width:100%;
            padding:0 0 1em 0;
            opacity:0;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
            .viewPane--skipLock .skipTimer__group {
                bottom:0;
                opacity:1;
            }
            .skipTimer__meter {
                position: absolute;
                height:0.125em;
                width:100%;
                background:#ff0000;
                bottom:0.125em; left:0;
                -webkit-transition: width 1s linear;
                transition: width 1s linear;
            }



/*  ================================================
    infoPanel__group classes
    ================================================ */
    .infoPanel__group {
        position: absolute;
        overflow: hidden;
        z-index: 20;
        width:100%; height:100%;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
        .infoPanel__group--show {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        .infoPanel__group:after {
            position:absolute;
            top:0; left:0;
            z-index: 5;
            opacity:0;
            content: '';
            width:100%; height:100%;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
            background: #20324c; /* Old browsers */
            background: -moz-linear-gradient(top,  #20324c 0%, #342b3f 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20324c), color-stop(100%,#342b3f)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #20324c 0%,#342b3f 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #20324c 0%,#342b3f 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #20324c 0%,#342b3f 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #20324c 0%,#342b3f 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20324c', endColorstr='#342b3f',GradientType=0 ); /* IE6-9 */
        }
            .infoPanel__group--show:after {
                opacity:0.8;
            }
        .infoPanel__img {
            position: absolute;
            top:0; left:0;
            opacity:0;
            width:100%; height:100%;
            background:#000 center center / cover no-repeat;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
            .infoPanel__group--show .infoPanel__img {
                opacity:1;
            }


        .infoPanel {
            position:absolute;
            z-index: 10;
            width:100%;
            top:50%;
            margin:-6em 0 0 0;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
            -webkit-transform: translate3d(-30%,0,0);
            transform: translate3d(-30%,0,0);
        }
            .infoPanel__group--show .infoPanel {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            .infoPanel__title {
                color:#fff;
                text-align: center;
                font-size:1.375em;
                font-style: italic;
                margin:0.75rem 1.25rem;
            }
            .actionBtn__closeInfo {
                margin:3em auto 0;
            }


        .infoPanel__closeBtn {
            width:2.5em; height:2em;
            position: absolute;
            z-index: 10;
            right:0;
            margin:0;
            display:none;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
            -webkit-transform: translate3d(-30%,0,0);
            transform: translate3d(-30%,0,0);
        }
            .infoPanel__group--show .infoPanel__closeBtn {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

        .infoPanel__backBtn {
            position: absolute;
            z-index: 10;
            left:0; top:0;
            margin:0; padding:0.5em 0.75em;
            font-size:0.875em;
            text-transform: uppercase;
            font-weight: bold;
        }





/*  ================================================
    flyOver__group classes
    ================================================ */
    .flyOver__group,
    .flyOver__group:after {
        position:absolute;
        z-index: 10;
        top:0; left:0;
        width:100%; height:100%;
    }
        .flyOver__group {
            -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
            transition: transform 0.5s, opacity 0.5s;
            opacity:1;
        }
        .flyOver__group.ui--offscreen {
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
            opacity: 0;
        }
            .flyOver__group.ui--offscreen:after {
                opacity: 0;
            }
        .flyOver__group:after {
            content: '';
            background:#000;
            z-index: 1;
            opacity:0.8;
            -webkit-transition:opacity 0.5s;
            transition:opacity 0.5s;
            -webkit-transition-delay:0.2s;
            transition-delay:0.2s;
        }

        .flyOver__box {
            position:absolute;
            z-index: 3;
            left:1.25em; right:1.25em;
            top:50%;
            height:23em;
            background:#fff;
            margin:-11.5em 0 0 0;
            border-radius:3px;
        }
            .flyOver__content {
                position: relative;
                padding:0.125em;
            }
                .flyOver__introTag {
                    font-size:0.75em;
                    color:#999;
                    text-align: center;
                    margin:0.5em 0;
                }
                .flyOver__box .player__group {
                    height:16em;
                }
                .flyOver__closeBtn {
                    margin:1em auto 0 auto;
                    font-weight: bold;
                }
            .flyOver__timer {
                position: absolute;
                bottom:0.5em;
                width:100%;
                text-align: center;
                font-weight:bold;
                font-size:0.875em;
            }





/*  ================================================
    navBar__group classes
    ================================================ */
    .navBar__group {
        position:absolute;
        bottom:0;
        height:3.125em; width:100%;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }
        .viewPane--skipLock .navBar__group {
            -webkit-transform: translate3d(0,4em,0);
            transform: translate3d(0,4em,0);
        }
        .navBar__prevBtn,
        .navBar__nextBtn,
        .navBar__flipBtn {
            width:5em; height:3.125em;
            position: absolute;
        }
            .navBar__prevBtn {
                left:0;
            }
            .navBar__nextBtn {
                right:0;
            }
            .navBar__flipBtn {
                left:50%;
                margin:0 0 0 -2.5em;
            }
                .navBar__flipBtn .navBtn__label {
                    position: absolute;
                    width:100%;
                    top:2.6em; left:0;
                }


/*  ================================================
    standalone MiniReel classes
    ================================================ */
    .c6MiniReel--standalone .headerBar__closeBtn,
    .c6MiniReel--standalone .infoPanel__backBtn {
        display:none;
    }
    .c6MiniReel--standalone .headerBar__infoBtn {
        right:0; left:auto;
    }
    .c6MiniReel--standalone .infoPanel__closeBtn {
        display:block;
    }





/*  ================================================
    sponsor classes - shared in both MRs and cards
    ================================================ */
    .sponsor__logo {
        width:2.5em; height:2.5em;
        border-radius:50%;
        overflow: hidden;
    }
        .sponsor__logoImg {
            width:2.5em; height:2.5em;
        }

        .sponsor__logo--large {
            width:3.75em; height:3.75em;
            position: relative;
            display: block;
            margin:0 auto;
        }
            .sponsor__logoImg--large {
                width:3.75em; height:3.75em;
            }

    .sponsor__links {
        text-align: center;
        margin:1em 0 0 0;
    }
        .sponsor__iconLink {
            width:2em; height:2em;
            display: inline-block;
            background:#00c0ff;
            color:#fff;
            line-height: 2;
            margin:0 0.1875em;
        }
            .sponsor__iconLink--youtube {
                background:#e22d24;
            }
            .sponsor__iconLink--vimeo {
                background:#445566;
            }
            .sponsor__iconLink--facebook {
                background:#3b5998;
            }
            .sponsor__iconLink--twitter {
                background:#00b0ed;
            }




/*  ================================================
    sponsored card classes
    ================================================ */
    .cardSponsor__profile {
        margin:0.5em 0.9375em 0;
        height:2.5rem;
        overflow: hidden;
    }
        .cardSponsor__logo {
            display:block;
            float:left;
        }
        .cardSponsor__tag {
            font-size:0.6875em;
            color:#999;
            font-weight: bold;
            margin:0;
            padding:0.25rem 0 0 0;
            float:right;
            width:calc(100% - 3.125rem);
        }
        .cardSponsor__action {
            margin:1em 0.9375em 0;
        }

    .c6Card--sponsored .card__group--back .card__title {
        display:none;
    }




/*  ================================================
    sponsored MiniReel classes
    ================================================ */
    .mrSponsor__sponsorTag {
        position: absolute;
        left:2.5rem; right:2.5rem;
        font-size:0.6875em;
        color:#999;
        margin:0.8em 0 0 0;
        text-align: center;
        text-overflow: ellipsis; 
        overflow: hidden;
        white-space: nowrap;
    }
    .mrSponsor__headerLogo {
        position:absolute;
        top:2.5em; left:1.5625em;
    }

    .c6MiniReel--sponsored .mrTitle__group {
        left:1.5625em; right:1.5625em; top:2.5em;
        text-align: left;
        margin:0 0 0 3.125rem;
    }
    .c6MiniReel--sponsored .cards__list {
        top:5.625em;
    }

    .c6MiniReel--sponsored .infoPanel {
        margin:-10em 0 0 0;
    }

        .mrSponsor__introText {
            text-align: center;
            font-size:0.875em;
            color:#ccc;
            margin:0 0 1em 0;
        }





/*  ================================================
    Small Mobile Device (below iphone 5) Media Query classes
    ================================================ */
    @media only screen and (max-device-width : 340px) { 
        .card__title {
            font-size:1.25em;
        }
            .card__title--secondary {
                font-size:1em;
            }
        .card__copy {
            font-size:0.75em;
        }

        .player__group {
            height:11em;
        }

        .flyOver__box {
            height:18em;
            margin:-9em 0 0 0;
        }
            .flyOver__box .player__group {
                height:12em;
            }
    }



/*  ================================================
    Large Mobile Device (above iphone 6) Media Query classes
    ================================================ */
    @media only screen and (min-device-width : 400px) { 
        .card__title {
            font-size:2em;
        }
            .card__title--secondary {
                font-size:1.5em;
            }
        .card__copy {
            font-size:1.125em;
        }

        .player__group {
            height:17em;
        }

        .flyOver__box {
            height:24em;
            margin:-12em 0 0 0;
        }
            .flyOver__box .player__group {
                height:18em;
            }
    }
