<article class="card__group">
    <div class="facebook____text__group player__height playerHeight" style="background-image:url('https://pbs.twimg.com/profile_banners/19777398/1401723954/1500x500');">

        <header class="facebook____profileBar__group">
            <a href="#" target="_blank" class="facebook____profileBar__picBox">
                <img src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg" class="facebook____profileBar__pic">
            </a>
            <a href="#" target="_blank" class="facebook____profileBar__name">Jimmy Fallon Tonight</a>
            <a href="#" target="_blank" class="facebook____profileBar__handle">@jifallontonight</a>
            <a href="#" target="_blank" class="facebook____profileBar__follow">Follow</a>
        </header>

        <section class="facebook____txtTweet__group">
            <p class="facebook____txtTweet"><a href="#" target="_blank" class="facebook____txtTweet__tag">@JimmyFallon</a> thinks he's super funny tonight. He tries out his <a href="#" target="_blank" class="facebook____txtTweet__tag">#DoNotPlaylist</a> with some friends. Who would you like to see on the tv tonight</p>
            <a href="#" target="_blank" class="facebook____txtTweet__time">4 hrs</a>
            <div class="facebook____info__group">
                <a href="#" target="_blank" class="facebook____info__reply">&nbsp;</a>
                <a href="#" target="_blank" class="facebook____info__retweet">23K</a>
                <a href="#" target="_blank" class="facebook____info__favorite">2.1K</a>
            </div>
        </section>

    </div><!--.facebook____text__group .player__height .playerHeight-->
</article>
