<article class="card__group">

    <div class="facebook____player__group player__height playerHeight">

        <section class="facebook____mediaImg__group">

            <div class="facebook____mediaImg" style="background-image:url('https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg');">
                <div class="ir">
                    <img src="https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg">
                </div>
            </div>

        </section><!--.facebook____mediaImg__group-->


        <section class="facebook____post__group">

            <div class="facebook____post__container">

                <div class="clearfix">
                    <a href="#" target="_blank" class="facebook____post__pic">
                        <img src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg">
                    </a>
                    <a href="#" target="_blank" class="facebook____post__name">The Tonight Show Starring James Thomas Fallon and a Bunch of Other Ppl</a>
                    <a href="#" target="_blank" class="facebook____post__timeStamp">18 hrs</a><span class="facebook____post__bullet">&bull;</span>  
                </div>
                              
                <p class="facebook____post__copy"><a href="#" target="_blank" class="facebook____post__link">Adam Sandler</a> expresses an interest in interviewing himself, so he and Jimmy swap mouths and end up singing a duet of "To All The Girls I've Loved Before."</p>
                <p class="facebook____post__likes"><a href="#" target="_blank" class="facebook____post__link">5,204 people</a> like this</p>
                <ul class="facebook____feedback__group">
                    <li class="facebook____feedback__box"><a href="#" target="_blank" class="facebook____feedback__like">Like</a></li>
                    <li class="facebook____feedback__box"><a href="#" target="_blank" class="facebook____feedback__comment">Comment</a></li>
                    <li class="facebook____feedback__box"><a href="#" target="_blank" class="facebook____feedback__share">Share</a></li>
                </ul>

            </div><!--.facebook____post__container-->

            <div class="facebook____profile__group">
                <a href="#" target="_blank" class="facebook____profile__name">The Tonight Show Starring James Thomas Fallon and a Bunch of Other Ppl</a>
                <p class="facebook____profile__data"><span>TV Show</span> &bull; <span>5,652,030</span> Likes</p>
                <a href="#" target="_blank" class="facebook____profile__likePage"><span class="facebook__profile__logo">Like<span></a>
            </div><!--.facebook____profile__group-->

        </section><!--.facebook____post__group-->

        

    </div> <!--.facebook____player__group .player__height .playerHeight-->
</article>