<article class="card__group">
    <div class="instag___player__group player__height">

        <section class="instag___card__profile">
            <div class="instag___card__profileWidth">
                <div class="clearfix">
                    <a href="https://instagram.com/taylorswift/" target="_blank"><img class="instag___card__profilePic" src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/10617008_540121486120445_1609281390_a.jpg">
                        <span class="ir">Profile Picture</span>
                    </a>
                    <a class="instag___card__profileName" href="https://instagram.com/taylorswift/" target="_blank">taylorswift</a>
                    <button class="instag___card__profileFollow">Follow</button>
                </div>
                <div class="instag___card__profileInfo">
                    <p class="instag___card__profileDesc"><span class="instag___card__profileDescName">Taylor Swift</span> Born in 1989. <a class="instag___card__profileLink" href="http://www.taylorswift.com" target="_blank">www.taylorswift.com</a></p>
                    <ul class="instag___card__profileData">
                        <li class="instag___card__profileDatum"><span class="instag___card__profileStat">615</span> posts</li>
                        <li class="instag___card__profileDatum"><span class="instag___card__profileStat">36.8m</span> followers</li>
                        <li class="instag___card__profileDatum"><span class="instag___card__profileStat">68</span> following</li>
                    </ul>

                </div>
            </div>
        </section> <!--.instag___card__profile-->

        <section class="instag___card__mediaImgGroup">
            <div class="instag___card__mediaImg" style="background-image:url('https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11325339_933284150046251_803891579_n.jpg');">
    
                <div class="ir">
                    <img src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11325339_933284150046251_803891579_n.jpg">
                </div>
                    
            </div>
        </section>

        <section class="instag___card__post">
            <div class="instag___card__postAccount clearfix">
                <a href="https://instagram.com/taylorswift/" target="_blank"><img class="instag___card__postAccountPic" src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/10617008_540121486120445_1609281390_a.jpg"></a>
                <a class="instag___card__postAccountName" href="https://instagram.com/taylorswift/" target="_blank">taylorswift</a>
                <a class="instag___card__postAccountLogo" href="https://instagram.com/p/4uVunpjvAG/?taken-by=taylorswift" target="_blank">
                    <span class="ir">Instagram</span>
                </a>
            </div>

            <div class="instag___card__postInfo clearfix">
                <span class="instag___postInfo__likes">2m likes</span><a class="instag___postInfo__date" href="/">2 weeks</a>
                <p class="instag___postInfo__copy"><a class="instag___postInfo__name" href="https://instagram.com/taylorswift/" target="_blank">taylorswift</a> When Ed shows up in a red coat for the 4th of July because he just can't let it go.
                <a class="instag___postInfo__userTag" href="/">@teddysphotos</a>
                <a class="instag___postInfo__comments"href="/">view 27,522 comments</a></p>
                
            </div>

            
            <a class="instag___card__postFeedback" href="/" target="_blank">
                <span class="instag___card__postComment">Add a comment...</span>
            </a>
        </section>

    </div> <!--.instag___player__group .player__height-->
</article>
