<article class="card__group">
    <div data-view="skipTimer:SkipTimerView" class="adSkip__group--sponsored c6-fade">
        <p class="adSkip__message">Skip in <strong>{{remaining}}</strong></p>
    </div>
    <div data-view="postOutlet:View"></div>
    <div data-view="ballotOutlet:View"></div>
    <div data-view="ballotResultsOutlet:View"></div>
    <div data-view="shareOutlet:View"></div>

    <div class="player__group player__height">
        <div data-view="playerOutlet:PlayerOutletView" class="js-playerBox player"></div>
    </div>

    <div class="card__copy player__height" data-class="isSponsored:card__copy--sponsored">
        <h1 data-unless="isSponsored" class="card__title tk--hdr">
            {{title}}
            <span data-if="showSource" class="card__attributes tk--copy">
                via&nbsp;<a href="{{href}}" target="_blank" class="textLink" title="{{source}}">{{source}}</a>
            </span>
        </h1>
        <div data-if="isSponsored" class="sponsorProfile__group clearfix">
            <span data-if="website.logo" data-view="logoView:LinkItemView" data-model="website"><a href="{{href}}" title="Sponsor link" class="sponsorProfile__imgBox" target="_blank">
                <img src="{{logo}}" alt="{{text}}" class="sponsorProfile__img">
            </a></span>
            <div class="sponsorProfile__copy" data-class="action.label:sponsorProfile__copy--hasActions">
                <h1 class="card__title tk--hdr">
                    {{title}}
                </h1>
                <div data-if="sponsor" data-view="websiteView:LinkItemView" data-model="website" class="card__attributes sponsorProfile__tag">
                    Sponsored by
                    <a href="{{href}}" class="textLink" title="{{text}}" target="_blank">
                        {{text}}
                    </a>
                </div>
                <div data-if="links.length" data-view="links:LinksListView" data-model="links" class="sponsorProfile__links">
                    <span><a title="{{label}}"
                        href="{{href}}"
                        target="_blank"
                        class="sponsorProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                        <span class="ir">{{label}}</span>
                    </a></span>
                </div>
                <!--share to social-->
                <div data-if="canShare" class="sponsorProfile__linkBtn">
                    <span><button data-view="shareButton:ButtonView" data-target="controller" data-action="showShare"><span class="spriteBe socialIconsBe socialIconsBe__solid--share shareBtn"><span class="shareBtn__label">Share</span></span></button></span>
                </div>
                <!--share to social-->
            </div>
            <div data-if="action.text" class="card__desc sponsor__actions">
                <span data-if="action.isText" data-view="ctaTextView:LinkItemView" data-model="action"><a href="{{href}}" target="_blank" class="textLink">
                    {{text}}
                </a></span>
                <span data-if="action.isButton" data-view="ctaButtonView:LinkItemView" data-model="action"><a href="{{href}}" target="_blank" class="sponsor__goBtn btnPrimary" title="{{text}}">
                    <span class="btn__label tk--action">{{text}}</span>
                </a></span>
            </div>
        </div>

        <div class="card__desc">{{note}}</div>
    </div>
</article>
