<article class="card__group">
    <div class="twitter____player__group player__height playerHeight">

        <section class="twitter____profile__group">

            <div class="clearfix twitter____profileImg__group">
                <a href="#" target="_blank" class="twitter____profileImg__picBox"><img class="twitter____profileImg__pic" src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg">
                </a>
                <a href="#" target="_blank" class="twitter____profileImg__name">Jimmy Fallon Tonight</a>
                <a href="#" target="_blank" class="twitter____profileImg__handle">@jimmyfallontonight</a>
                <a href="#" target="_blank" class="twitter____profileImg__follow">Follow</a>
            </div><!--.clearfix .twitter____profileImg__group-->
            
        </section> <!--.twitter____profile__group-->




        <section class="twitter____mediaImg__group">

            <div class="twitter____mediaImg" style="background-image:url('https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg');">

                <div class="ir">
                    <img src="https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg">
                </div>

            </div>
        </section><!--.twitter____mediaImg__group-->





        <section class="twitter____post__group">

            <div class="twitter____postAccount__group clearfix">

                <a href="#" target="_blank" class="twitter____postAccount__timeStamp">2 hrs</a>

            </div><!--.twitter____postAccount__group .clearfix-->


            <div class="twitter____postInfo__group clearfix">

                <div class="twitter____postInfo__copy">
                    We hiiighly recommend not playing any of these songs from Jimmy's <a href="#" target="_blank" class="twitter____postInfo__hashTag">#DoNotPlay</a> list
                </div>

                <a href="{{href}}" target="_blank" class="twitter____feedback__group">
                    <span class="twitter____feedback__reply">Reply</span>
                    <span class="twitter____feedback__retweet">Retweet</span>
                    <span class="twitter____feedback__like">Like</span>
                </a>

            </div><!--.twitter____postInfo__group .clearfix-->

        </section><!--.twitter____post__group-->
    </div> <!--.twitter____player__group .player__height .playerHeight-->
</article>