<article class="card__group">
    <div class="card__copy player__height">
        <h1 class="card__title tk--hdr">
            {{title}}
        </h1>
        <div class="card__desc">{{note}}</div>
        <p>{{href}}</p>
        <ul data-view="tags:ListView">
            <li>{{tag}}</li>
        </ul>
        <p>{{timeCreated}}</p>
        <p>{{caption}}</p>
        <p>{{user.fullname}}</p>
        <ul data-view="comments:ListView">
            <li>{{text}}</li>
        </ul>
        <ul data-view="likes:ListView">
            <li>{{username}}</li>
        </ul>
        <p>{{type}}</p>
        <p>{{src}}</p>
    </div>
</article>
