<article class="card__group">

    <div class="twitter____player__group player__height playerHeight">

        <section class="twitter____profile__group">

            <a href="#" target="_blank" class="twitter____profile__picBox">
                <img src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg" class="twitter____profile__pic">
            </a>
            <a href="#" target="_blank" class="twitter____profile__name">Jimmy Fallon Tonight</a>
            <a href="#" target="_blank" class="twitter____profile__handle">@jifallontonight</a>
            <a href="#" target="_blank" class="twitter____profile__follow">Follow</a>

        </section> <!--.twitter____profile__group-->


        <section class="twitter____mediaVid__group">
            <video name="media" loop="loop" autoplay="autoplay" poster="https://pbs.twimg.com/tweet_video_thumb/CLkHGfJW8AAbjN9.png" class="twitter____mediaVid__box">
                <source class="twitter____mediaVid" style="background-image:url('https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg');" video-src="https://pbs.twimg.com/tweet_video/CLkHGfJW8AAbjN9.mp4" type="video/mp4" src="https://pbs.twimg.com/tweet_video/CLkHGfJW8AAbjN9.mp4"/>
            </video>
                

        </section><!--.twitter____mediaImg__group-->


        <section class="twitter____tweet__group">

            <div class="twitter____tweet__container">

                <a href="#" target="_blank" class="twitter____tweet__timeStamp">2 hrs</a>                
                <p class="twitter____tweet__copy">We hiiighly recommend not playing any of these songs from Jimmy's <a href="#" target="_blank" class="twitter____tweet__hashtag">#DoNotPlay</a> list</p>

                <span class="twitter____tweet__feedback">
                    <a href="#" target="_blank" class="twitter____tweet__reply">&nbsp;</a>
                    <a href="#" target="_blank" class="twitter____tweet__retweet">3.2K</a>
                    <a href="#" target="_blank" class="twitter____tweet__favorite">4.5K</a>
                </span>

            </div><!--.twitter____tweet__container-->
        </section><!--.twitter____tweet__group-->
    </div> <!--.twitter____player__group .player__height .playerHeight-->
</article>
