test
<article class="card__group"><!--.instag____card__group-\-sponsored classes added when instagram card is sponsored-->
    <div class="instag____player__group player__height playerHeight">
        
        <section class="instag____mediaImg__group">
            <div class="instag____mediaImg">
                <div class="ir">
                    <img src="google.com">
                </div>
            </div>
        </section><!--.instag____mediaImg__group-->

        <section class="instag____post__group">
            <div class="instag____post__title">Title</div><!--Title can be turned on or off for any kind of MR card view-->
            <div class="instag____postAccount__group--small clearfix"><!--instag____postAccount__group-\-small is for mobile media queries only-->
                <div class="clearfix">
                    <a href="" target="_blank"><img src=""class="instag____postAccount__pic"></a>
                    <span class="instag____profile__sponsor">Sponsored by</span><!--.instag____profile__sponsor only for sponsored instagram cards-->
                    <a href="" target="_blank" class="instag____postAccount__name">userUsername</a>
                    <a href="" target="_blank" class="instag____postAccount__logo">
                        <span class="ir">Instagram</span>
                    </a>
                </div>
                <ul class="instag____socialMedia__group"><!--.instag____profileSocial__group only for sponsored Instagram cards-->
                    <li class="instag____socialMedia__icon">
                        <a href="" target="_blank" class="instag____socialMedia__icon--facebook">
                            <span class="ir">label</span>
                        </a>
                    </li>
                </ul>
            </div><!--.instag____postAccount__group-->
            <div class="instag____postInfo__group clearfix">

                <div class="instag____postInfo__copy">
                    <a href="" target="_blank" class="instag____postInfo__name">userUsername</a>

                    <div>
                
                        <span><a href="" target="_blank" class="instag____postInfo__cta--btn">text</a></span><!--.instag____postInfo__cta-\-btn only for sponsored instagram cards-->
                    </div>

                    <a href="href" target="_blank" class="instag____postInfo__comments">view comments</a>
                </div>
            </div><!--.instag____postInfo__group .clearfix-->
            <a href="href" target="_blank" class="instag____postInfo__feedback">
                <span class="instag____postInfo__comment">Add a comment...</span>
            </a>
        </section><!--.instag____post__group-->
    </div> <!--.instag____player__group .player__height .playerHeight-->
</article>
