<div class="card__group">
    Hey look I'm a Desktop Instagram Image Card. I'm so fabulous. :D
    <div class="player__group">
        <div class="player js-playerBox">
        </div>
    </div><!-- .player__group--> <!--video embed -->

    <div class="social__group">
        <ul data-if="canShare">
            <li class="social__group--item">
            </li>
        </ul>
    </div><!-- .social__group-->

    <!--copy and cta below -->
    <div class="info__group">
        <div class="card__copyBox">
            <div class="card__copy card__copy--hasSponsor">

                <div class="card__copy--content">
                    <div class="card__title"><h1 class="tk--hdr">{{title}}</h1></div>
                    <div class="card__desc"><p>{{note}}</p></div>
                </div>

            </div>
        </div>
    </div><!-- .info__group-->

</div><!-- .card__group-->
