<button class="recap__imgBtn recap__imgBtn--{{type}}" type="button">
    <span class="recap__imgBox" style="background-image:url({{thumb}});">&nbsp;</span>
</button>
<div class="recap__copyBox">
    <h1 class="recap-item__title tk--hdr">{{title}}</h1>
    <p data-if="showSource" class="recap-item__attributes">via <a onclick="arguments[0].stopPropagation();" href="{{href}}" target="_blank" title="{{source}}">{{source}}</a></p>
    <p data-if="sponsor" class="recap-item__attributes">sponsored by 
        <a href="{{website}}" target="_blank" title="{{sponsor}}" onclick="arguments[0].stopPropagation();">
            {{sponsor}}
        </a>
    </p>
</div>
