<article class="instag____card__group"><!--.instag____card__group--sponsored classes added when instagram card is sponsored-->
    <section class="instag____profile__group clearfix">
        <a href="{{userHref}}" target="_blank" class="instag____profile__picBox"><img class="instag____profile__pic" src="{{userPicture}}"></a>
        <a href="{{userHref}}" target="_blank" class="instag____profile__name">{{userUsername}}</a>
        <a href="{{href}}" target="_blank" class="instag____profile__postDate">{{date}}</a>
        <a data-unless="sponsored" href="{{userFollow}}" target="_blank" class="instag____profile__follow">Follow</a><!--.instag____profile__follow class is seen when card is not sponsored-->
        <a data-if="sponsored" href="{{userWebsite}}" target="_blank" class="instag____profile__sponsor">Sponsored</a><!--.instag____profile__sponsor class only appears when .instag____card__group--sponsored class modifies the article tag-->
    </section><!--.instag____profile__group .clearfix-->

    <section class="instag____media__group">
        <img src="{{mediaSrc}}">
    </section><!--.instag____media__group-->

    <section class="instag____post__group">
        <h1 data-unless="hideTitle" class="instag____post__title">{{title}}</h1><!--.instag____post__title is optional-->
        <p class="instag____post__copy">
            <span data-view="captionView:InstagramCaptionView"></span>
        </p>
        <div data-if="action.label">
            <a data-if="action.isText" href="{{action.href}}" target="_blank" class="instag____post__cta--link">{{action.label}}</a><!--.instag____postInfo__cta--link only for sponsored instagram cards-->
            <a data-if="action.isButton" href="{{action.href}}" target="_blank" class="instag____post__cta--btn">{{action.label}}</a><!--.instag____postInfo__cta--btn only for sponsored instagram cards-->
        </div>
    </section>

    <section class="instag____feedback__group">
        <a href="{{href}}" target="_blank" class="instag____feedback__likeData">{{likes}}<span class="instag____feedback__like"><span></a>
        <a href="{{href}}" target="_blank" class="instag____feedback__commentData">{{comments}}<span class="instag____feedback__comment"></span></a>
        <a href="{{href}}" target="_blank" class="instag____feedback__logo"></a>
        <ul data-if="links.length" data-view="links:LinksListView" class="instag____socialMedia__group"><!--.instag____profileSocial__group only for sponsored Instagram cards-->
            <li class="instag____socialMedia__icon">
                <a href="{{href}}" target="_blank" class="instag____socialMedia__icon--{{type}}">
                    <span class="ir">{{label}}</span>
                </a>
            </li>
        </ul>
    </section><!--.instag____feedback__group-->
</article><!--.instag____card__group-->
