<article class="card__group">
    <div class="article__group player__height">
        <h1>Twitter Card Template</h1>
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We hiiiighly recommend not playing any of these songs from Jimmy&#39;s <a href="https://twitter.com/hashtag/DoNotPlay?src=hash">#DoNotPlay</a> list <a href="https://t.co/s2tA4KNqBe">https://t.co/s2tA4KNqBe</a> <a href="http://t.co/jWHbyIunTe">pic.twitter.com/jWHbyIunTe</a></p>&mdash; Fallon Tonight (@FallonTonight) <a href="https://twitter.com/FallonTonight/status/621702139094650880">July 16, 2015</a></blockquote>
    </div>
</article>
