<article class="twitter____card__group"><!--.twitter____card__group--sponsored classes added when twitter card is sponsored-->

    <section class="twitter____media__group">
        <img src="https://pbs.twimg.com/media/CNMyPGPWsAAPBDL.png">
    </section><!--.twitter____media__group-->

	<section class="twitter____profile__group clearfix">
        <a href="{{userHref}}" target="_blank" class="twitter____profile__picBox"><img class="twitter____profile__pic" src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg"></a>
        <a href="#" target="_blank" class="twitter____profile__sponsor">Sponsored by</a><!--.twitter____profile__sponsor class only appears when .twitter____card__group--sponsored class modifies the article tag-->
        <a href="{{userHref}}" target="_blank" class="twitter____profile__name">Fallon Tonight</a>
        <a href="#" target="_blank" class="twitter____profile__handle">@jifallontonight</a>
        <a href="{{userFollow}}" target="_blank" class="twitter____profile__follow">Follow</a><!--.twitter____profile__follow class is seen when card is not sponsored-->
        <ul class="twitter____socialMedia__group"><!--.twitter____socialMedia__group only for sponsored Twitter cards-->
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--youtube">
                    <span class="ir">YouTube</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--vimeo">
                    <span class="ir">Vimeo</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--facebook">
                    <span class="ir">Facebook</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--instagram">
                    <span class="ir">Twitter</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--pinterest">
                    <span class="ir">Pinterest</span>
                </a>
            </li>
        </ul>
    </section><!--.twitter____profile__group .clearfix-->

    <section class="twitter____tweet__group">
        <h1 class="twitter____tweet__title">OMG THIS FAN ART ROCKS</h1><!--.twitter____tweet__title is optional-->
        <p class="twitter____tweet__copy">Shoutout to <a href="#" target="_blank" class="twitter____tweet__tag">@Benziler_Denise</a> for this awesome <a href="#" target="_blank" class="twitter____tweet__tag">#FalPalFanArt</a>!</p>
        <a href="#" target="_blank" class="twitter____tweet__cta--btn">Buy me!</a><!--.twitter____tweetInfo__cta--btn .twitter____tweetInfo__cta--link only for sponsored twitter cards-->
        <a href="#" target="_blank" class="twitter____tweet__time">12:07 PM - 7 Aug 2015</a>
    </section>

    <section class="twitter____feedback__group">
    	<span class="twitter____tweet__feedback">
            <a href="#" target="_blank" class="twitter____tweet__reply">&nbsp;</a>
            <a href="#" target="_blank" class="twitter____tweet__retweet">3.2K</a>
            <a href="#" target="_blank" class="twitter____tweet__favorite">4.5K</a>
        </span>
    </section><!--.twitter____feedback__group-->
</article><!--.twitter____card__group-->
