<div class="MiniReel__group" data-class="sponsor:MiniReel__group--brandedMR">
    <div data-view="landscapeLeftSidebar:NavbarView" class="navBarLeft__group c6-slide-bar--left css-promote">
        <div class="publisherProfile__logoBox publisherProfile__logoBox--landscape">&nbsp;</div>
        <a data-if="logo"
            href="{{website}}"
            title="{{sponsor}}"
            target="_blank"
            class="brandProfile__logoBox brandProfile__logoBox--landscape">
            <img class="brandProfile__logo brandProfile__logo--landscape" alt="{{sponsor}}" src="{{logo}}">
        </a>
        <button data-unless="isSolo"
            data-view="landscapePreviousButton:NavButtonView"
            data-target="controller" data-action="previous"
            title="Previous Video"
            type="button"
            class="btnPrimary pager__btn landscapePager__btn landscapePager__btn--prev">
            <svg class="pager__btnIcon landscapePager__btnIcon landscapePager__btnIcon--prev" 
            version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941">
                <path class="pager__btnIconPath pager__btnIconPath--prev" 
                fill-rule="evenodd" clip-rule="evenodd" 
                d="M22.971,0L0,22.971l22.971,22.97l4.243-4.243L8.485,22.971L27.213,4.243L22.971,0z"/>
            </svg>
            <span class="btn__label landscapePager__label landscapePager__label--prev tk--action">
                Prev
            </span>
        </button>

        <p data-unless="isSolo" class="nav__counter nav__counter--landscape">
            <span>{{header}}</span>
        </p>
    </div><!--.navBarLeft__group-->

    <div class="navBarRight__group css-promote">
        <button data-unless="isSolo"
            data-view="tocButton:TOCButtonView"
            data-target="controller" data-action="toggleToc"
            class="btnSecondary MiniReel__tocBtn MiniReel__tocBtn--landscape"
            title="View Table of Contents"
            type="button">
            <span class="ir">Table of Contents</span>
            <span class="spriteBe uiIconsBe uiIconsBe--toc">&nbsp;</span>
        </button>

        <button data-unless="isSolo"
            data-view="landscapeNextButton:NavButtonView"
            data-target="controller" data-action="next"
            title="Next Video"
            type="button"
            class="btnPrimary pager__btn landscapePager__btn landscapePager__btn">
            <svg class="pager__btnIcon landscapePager__btnIcon landscapePager__btnIcon--next" 
            version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941">
                <path class="pager__btnIconPath pager__btnIconPath--next" 
                fill-rule="evenodd" clip-rule="evenodd" 
                d="M4.243,0l22.971,22.971L4.243,45.941L0,41.699l18.728-18.728L0,4.243L4.243,0z"/>
            </svg>
            <span class="btn__label landscapePager__label landscapePager__label--next tk--action">
                Next
            </span>
        </button>

        <button data-if="closeable"
            data-view="landscapeCloseButton:CloseButtonView"
            data-target="controller" data-action="close"
            class="btnSecondary MiniReel__closeBtn MiniReel__closeBtn--landscape clearfix"
            title="Close"
            type="button">
            <span class="btn__label tk--action">
                Close
            </span>
            <span class="sprite sprite--close">&nbsp;</span>
        </button>

        <p data-view="landscapeSkipTimer:SkipTimerView" class="nav__counter nav__counter--landscape adSkip__message--landscape">
            <span>Skip in</span><br>
            <strong>{{remaining}}</strong>
        </p>
    </div><!--.navBarRight__group-->

    <div data-view="navbar:NavbarView" class="headerBar__group css-promote">
        <div class="publisherProfile__logoBox">&nbsp;</div>
        <a data-if="logo"
            href="{{website}}"
            title="{{sponsor}}"
            target="_blank"
            class="brandProfile__logoBox">
            <img class="brandProfile__logo" alt="{{sponsor}}" src="{{logo}}">
        </a>
        <button data-if="closeable"
            data-target="controller" data-action="close"
            data-view="closeButton:CloseButtonView"
            class="btnSecondary MiniReel__closeBtn clearfix"
            title="Close"
            type="button">
            <span class="btn__label tk--action">
                Close
            </span>
            <span class="sprite sprite--close">&nbsp;</span>
        </button>
        <p data-unless="isSolo" class="nav__counter">
            <span>{{header}}</span>
        </p>
    </div><!--.headerBar__group-->

    <div data-if="showFooter" class="navBar__group css-promote">
        <div data-view="skipTimer:SkipTimerView" class="adSkip__group">
            <p class="adSkip__message"><strong>Skip in {{remaining}}</strong></p>
        </div>

        <button data-view="previousButton:NavButtonView"
            data-target="controller" data-action="previous"
            data-unless="isSolo"
            title="Previous Video"
            type="button"
            class="btnPrimary pager__btn pager__btn--prev">
            <svg class="pager__btnIcon pager__btnIcon--prev" version="1.1" 
            xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941">
                <path class="pager__btnIconPath pager__btnIconPath--prev" 
                fill-rule="evenodd" clip-rule="evenodd" 
                d="M22.971,0L0,22.971l22.971,22.97l4.243-4.243L8.485,22.971L27.213,4.243L22.971,0z"/>
            </svg>
            <span class="btn__label pager__label pager__label--prev tk--action">
                Prev
            </span>
        </button>
        <button data-view="landscapeTocButton:TOCButtonView"
            data-target="controller" data-action="toggleToc"
            data-unless="isSolo"
            class="btnSecondary MiniReel__tocBtn MiniReel__tocBtn"
            title="View Table of Contents"
            type="button">
            <span class="ir">Table of Contents</span>
            <span class="spriteBe uiIconsBe uiIconsBe--toc">&nbsp;</span>
        </button>
        <button data-view="nextButton:NavButtonView"
            data-target="controller" data-action="next"
            data-unless="isSolo"
            title="Next Video"
            type="button"
            class="btnPrimary pager__btn pager__btn--next">
            <svg class="pager__btnIcon pager__btnIcon--next" version="1.1" 
            xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941">
                <path class="pager__btnIconPath pager__btnIconPath--next" 
                fill-rule="evenodd" clip-rule="evenodd" 
                d="M4.243,0l22.971,22.971L4.243,45.941L0,41.699l18.728-18.728L0,4.243L4.243,0z"/>
            </svg>
            <span class="btn__label pager__label pager__label--next tk--action">
                Next
            </span>
        </button>
    </div><!--.ui-control-->


    <article class="cards__group" data-class="isSolo:cards__group--solo">
        <div data-if="sponsor" class="brandedMR__tagline tk--copy">
            <a ng-href="{{website}}"
                target="_blank"
                title="{{sponsor}}"
                class="brandedMR__taglineBrand textLink">
                {{sponsor}}
            </a> 
            Presents
        </div>
        <h3 class="MiniReel__title tk--hdr">{{title}}</h3>
        <div data-if="links.length" data-view="links:LinksListView" class="brandProfile__linksBox">
            <span><a href="{{href}}"
                title="{{label}}"
                target="_blank"
                class="brandProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                <span class="ir">{{label}}</span>
            </a></span>
        </div>
        <ul data-view="cards:DeckView" class="cards__list"></ul>
        <ul data-view="prerollOutlet:DeckView" class="cards__list"></ul>
        <div data-view="toc:View"></div>
    </article>
</div>
