<article class="twitter____card__group"><!--.twitter____card__group--sponsored classes added when twitter card is sponsored-->
    <section class="twitter____profile__group clearfix">
        <a href="{{userHref}}" target="_blank" class="twitter____profile__picBox"><img class="twitter____profile__pic" src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/10617008_540121486120445_1609281390_a.jpg"></a>
        <a href="{{userHref}}" target="_blank" class="twitter____profile__name">tayloralisonswift</a>
        <a href="{{href}}" target="_blank" class="twitter____profile__tweetDate">4 days ago</a>
        <a href="{{userFollow}}" target="_blank" class="twitter____profile__follow">Follow</a><!--.twitter____profile__follow class is seen when card is not sponsored-->
        <a href="#" target="_blank" class="twitter____profile__sponsor">Sponsored</a><!--.twitter____profile__sponsor class only appears when .twitter____card__group--sponsored class modifies the article tag-->
    </section><!--.twitter____profile__group .clearfix-->

    <section class="twitter____media__group">
        <div class="twitter____mediaVid__box">
            <video controls=true class="twitter____mediaVid" tweeter="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11821147_104753706542520_2033718459_n.jpg" preload="none" src="https://scontent-iad3-1.cdntwitter.com/hphotos-xaf1/t50.2886-16/11847040_533864646760736_1934852926_n.mp4"></video>
        </div><!--.twitter____mediaVid__box-->
    </section><!--.twitter____mediaVid__group-->

    <section class="twitter____tweet__group">
        <h1 class="twitter____tweet__title">Meet the cats raffle!</h1><!--.twitter____tweet__title is optional-->
        <p class="twitter____tweet__copy">You seem stressed. She was alleged to have insured her long legs for $40million last week. And Taylor Swift has now responded to the claims with a tongue-in-cheek Instagram tweet, joking that her pet cat Meredith has ruined her biggest money-spinner and is going to cost her a fortune. Posting a picture of her bleeding pins, which had been scratched to shreds by her naughty kitty, she joked: 'GREAT WORK MEREDITH I WAS JUST TRYING TO LOVE YOU AND NOW YOU OWE ME 40 MILLION DOLLARS.' <a href="#" target="_blank" class="twitter____tweet__tag">#catniptime</a></p>
        <a href="#" target="_blank" class="twitter____tweet__cta--btn">Pet my cats!</a><!--.twitter____tweetInfo__cta--btn .twitter____tweetInfo__cta--link only for sponsored twitter cards-->
    </section>

    <section class="twitter____feedback__group">
        <a href="#" target="_blank" class="twitter____feedback__likeData">304k likes<span class="twitter____feedback__like"><span></a>
        <a href="#" target="_blank" class="twitter____feedback__commentData">1.2k comments<span class="twitter____feedback__comment"></span></a>
        <a href="#" target="_blank" class="twitter____feedback__logo"></a>
        <ul class="twitter____socialMedia__group"><!--.twitter____profileSocial__group only for sponsored Instagram cards-->
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--youtube">
                    <span class="ir">YouTube</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--vimeo">
                    <span class="ir">Vimeo</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--facebook">
                    <span class="ir">Facebook</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--twitter">
                    <span class="ir">Twitter</span>
                </a>
            </li>
            <li class="twitter____socialMedia__icon">
                <a href="#" target="_blank" class="twitter____socialMedia__icon--pinterest">
                    <span class="ir">Pinterest</span>
                </a>
            </li>
        </ul>
    </section><!--.twitter____feedback__group-->
</article><!--.twitter____card__group-->
