<article class="instag____card__group"><!--.instag____card__group--sponsored classes added when instagram card is sponsored-->
    <section class="instag____profile__group clearfix">
        <a href="{{userHref}}" target="_blank" class="instag____profile__picBox"><img class="instag____profile__pic" src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/10617008_540121486120445_1609281390_a.jpg"></a>
        <a href="{{userHref}}" target="_blank" class="instag____profile__name">tayloralisonswift</a>
        <a href="{{href}}" target="_blank" class="instag____profile__postDate">4 days ago</a>
        <a href="{{userFollow}}" target="_blank" class="instag____profile__follow">Follow</a><!--.instag____profile__follow class is seen when card is not sponsored-->
        <a href="#" target="_blank" class="instag____profile__sponsor">Sponsored</a><!--.instag____profile__sponsor class only appears when .instag____card__group--sponsored class modifies the article tag-->
    </section><!--.instag____profile__group .clearfix-->
    </section><!--.instag____profile__group .clearfix-->

    <section class="instag____media__group">
        <div class="instag____mediaVid__box">
            <video controls=true class="instag____mediaVid" poster="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11821147_104753706542520_2033718459_n.jpg" preload="none" src="https://scontent-iad3-1.cdninstagram.com/hphotos-xaf1/t50.2886-16/11847040_533864646760736_1934852926_n.mp4"></video>
        </div><!--.instag____mediaVid__box-->
    </section><!--.instag____mediaVid__group-->

    <section class="instag____post__group">
        <h1 class="instag____post__title">Meet the cats raffle!</h1><!--.instag____post__title is optional-->
        <p class="instag____post__copy">You seem stressed. She was alleged to have insured her long legs for $40million last week. And Taylor Swift has now responded to the claims with a tongue-in-cheek Instagram post, joking that her pet cat Meredith has ruined her biggest money-spinner and is going to cost her a fortune. Posting a picture of her bleeding pins, which had been scratched to shreds by her naughty kitty, she joked: 'GREAT WORK MEREDITH I WAS JUST TRYING TO LOVE YOU AND NOW YOU OWE ME 40 MILLION DOLLARS.' <a href="#" target="_blank" class="instag____post__tag">#catniptime</a></p>
        <a href="#" target="_blank" class="instag____post__cta">Pet my cats!</a><!--.instag____post__cta is optional-->
    </section>

    <section class="instag____feedback__group">
        <a href="#" target="_blank" class="instag____feedback__likeData">304k likes<span class="instag____feedback__like"><span></a>
        <a href="#" target="_blank" class="instag____feedback__commentData">1.2k comments<span class="instag____feedback__comment"></span></a>
        <a href="#" target="_blank" class="instag____feedback__logo"></a>
        <ul class="instag____socialMedia__group"><!--.instag____profileSocial__group only for sponsored Instagram cards-->
            <li class="instag____socialMedia__icon">
                <a href="#" target="_blank" class="instag____socialMedia__icon--youtube">
                    <span class="ir">YouTube</span>
                </a>
            </li>
            <li class="instag____socialMedia__icon">
                <a href="#" target="_blank" class="instag____socialMedia__icon--vimeo">
                    <span class="ir">Vimeo</span>
                </a>
            </li>
            <li class="instag____socialMedia__icon">
                <a href="#" target="_blank" class="instag____socialMedia__icon--facebook">
                    <span class="ir">Facebook</span>
                </a>
            </li>
            <li class="instag____socialMedia__icon">
                <a href="#" target="_blank" class="instag____socialMedia__icon--twitter">
                    <span class="ir">Twitter</span>
                </a>
            </li>
            <li class="instag____socialMedia__icon">
                <a href="#" target="_blank" class="instag____socialMedia__icon--pinterest">
                    <span class="ir">Pinterest</span>
                </a>
            </li>
        </ul>
    </section><!--.instag____feedback__group-->
</article><!--.instag____card__group-->
