/*  ================================================
    GLOBAL CSS EDITS
    ================================================ */

/*  ================================================
    instagram-card.css
    ================================================ */
    .MiniReel__group--singleCardMR .playlist__group {
        display:none;
    }

    .MiniReel__group--singleCardMR .titleBar__group,
    .MiniReel__group--singleCardMR .btnPrimary {
        display:none;
    }

        .instag____player__group {
            width:calc(100% - 19rem);
        }

        .MiniReel__group--singleCardMR .instag____player__group {
            width:100%;
        }


    /*  instagram image card MEDIA QUERIES
    ================================================ */

        @media screen and (min-width:100rem) and (max-width:125rem) {
            /*  w: 1600px -  2000px */

            .instag____player__group {
                font-size:1em;
            }


            .instag____mediaImg__group {
                right:21em;
            }

            .instag____post__group {
                width:20em;
            }

                .instag____postAccount__name {
                    width:35%;
                }

        }


        @media screen and (max-width:100rem) {
            /*  w: 0px - 1600px */


            .instag____player__group {
                font-size:0.9375em;
            }

            .instag____mediaImg__group {
                right:16em;
            }

            .instag____post__group {
                width:15em;
            }

                .instag____postAccount__logo {
                    background:url('../../img/social-card-sprites.png') -0.825em -0.825em/11.875em no-repeat;
                    width:4em;
                    position: absolute;
                    top:-0.5em;
                    right:-0.5em;
                }

                    .instag____postInfo__copy {
                        bottom:10em;
                    }

                    .instag____postInfo__feedback {
                        padding-left:2.5em;
                    }
                        .instag____postInfo__feedback:before {
                            background:url('../../img/social-card-sprites.png') -4.25em -0.5em/11.5em no-repeat;
                            width:2.15em;
                            height:1.825em;
                        }
                        .instag____postInfo__feedback:after {
                            background:url('../../img/social-card-sprites.png') -6.75em -0.5em/11.5em no-repeat;
                            width:1.875em;
                            height:1.5em;
                        }

        }


        @media screen and (max-width:80rem) {
            /*  w: 0px - 1280px */

                .instag____profile__group {
                    display:none;
                }

                    .instag____profile__picBox {
                        width:25%;
                        min-width:3rem;
                        max-width:4rem;
                    }

                    .instag____profile__sponsor {
                        width:100%;
                        text-align:center;
                    }

                        .instag____profileDesc__follow,
                        .instag____profileDesc__follow:focus {
                            min-width: 3.75rem;
                            max-width: 8rem;
                            margin: 0.5em auto 0;
                        }

            .instag____mediaImg__group {
                position:absolute;
                top:1em;
                bottom:1em;
                left:1em;
                right:11em;
            }

                .instag____mediaImg {
                    border-right:1px solid #eeefef;
                }

            .instag____post__group {
                width:10em;
                height:auto;
                padding:0.75em;
                top:1em;
                right:1em;
                overflow-y:auto;
                overflow-x:hidden;
            }

            .instag____postAccount__group--small {
                border-bottom:1px solid #eeefef;
                margin:0 0 1.1875em 0;
                padding:0 0 1em 0;
                position:relative;
                display:block;
            }

                .instag____post__title {
                    font-size:0.875em;
                }

                .instag____postAccount__pic {
                    float:none;
                    display:block;
                    margin:1.5em auto 0;
                }

                .instag____postAccount__name {
                    margin:0.25em 0 0;
                    width:100%;
                    display:block;
                    float:none;
                    text-align:center;
                }

                .instag____postAccount__logo {
                    background:url('../../img/social-card-sprites.png') -0.825em -0.825em/15em no-repeat;
                    width:4em;
                    top:0;
                    left:0;
                    right:0;
                }

                .instag____socialMedia__group {
                    width:14em;
                }


                .instag____postInfo__copy {
                    position:relative;
                }

                    .instag____postInfo__group {
                        height:auto;
                    }

                    .instag____postInfo__feedback {
                        padding-left:1.5em;
                        position:relative;
                        left:0;
                        right:0;
                        bottom:1.5em;
                        display:block;
                    }
                        .instag____postInfo__feedback:before {
                            background:url('../../img/social-card-sprites.png') -2.25em -0.25em/6em no-repeat;
                            width: 1.25em;
                            height: 1em;
                        }
                        .instag____postInfo__feedback:after {
                            width:0;
                            height:0;
                        }

                    .instag____postInfo__comments {
                        margin-bottom:6em;
                    }

                        .instag____postInfo__comment {
                            top: 1.5em;
                            font-size: 0.825em;
                        }

        }



    /*  instagram video card MEDIA QUERIES
        ================================================ */

        @media screen and (min-width:100rem) and (max-width:125rem) {
            /*  w: 1600px -  2000px */

            .instag____mediaVid__group {
                left:12em;
                right:21em;
            }
        }



        @media screen and (max-width:100rem) {
            /*  w: 0px - 1600px */
            .instag____mediaVid__group {
                left:12em;
                right:16em;
            }


        }

        @media screen and (max-width:80rem) {
            /*  w: 0px - 1280px */
            .instag____mediaVid__group {
                left:1em;
                right:11em;
            }
        }






