

/*  ================================================
    nav button classes
    ================================================ */
    .nav__btn {
        width:5em; height:5.75em;
        position:absolute;
        bottom:0.5em;
    }
        .nav__btn--prev {
            left:0.5em;
        }
        .nav__btn--next {
            right:19.5em;
        }
        .nav__btn--text {
            display: none !important;
        }

        .nav__btnIcon {
            position: absolute;
            width:1.25em; height:2em;
            top:0.875em;
            margin:0 0 0 -0.625em;
        }
            .nav__btnIcon--prev {
                left:48%;
            }
            .nav__btnIcon--next {
                left:52%;
            }

            .nav__btnPath {
                fill:#fff;
            }

            .nav__btnLabel {
                position:absolute;
                display: block;
                width:100%; bottom:0.75em;
            }


        .nav__btn--displayAd {
            top:50%; margin-top:-3em;
        }


        .nav__btn--condensed, .nav__btn--recap {
            height:3em; width:6em;
        }
            .nav__btn--condensed, .nav__btn--recap .nav__btnIcon {
                top:0.5em; left:auto; right:auto;
                width:1em; height:1.5em;
                margin:0;
            }
                .nav__btn--condensed, .nav__btn--recap .nav__btnIcon--prev {
                    left:12.5%;
                }
                .nav__btn--condensed, .nav__btn--recap .nav__btnIcon--next {
                    right:12.5%;
                }
            .nav__btn--condensed, .nav__btn--recap .nav__btnLabel {
                bottom:1em;
                left:auto; right:auto;
                width:auto;
            }
                .nav__btn--condensed, .nav__btn--recap .nav__btnLabel--prev {
                    left:46%;
                }
                .nav__btn--condensed, .nav__btn--recap .nav__btnLabel--next {
                    right:46%;
                }

        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .nav__btn {
                height:6.75em;
                width:7em;
            }
                .nav__btnIcon {
                    top:1.25em;
                }
                .nav__btnLabel {
                    bottom:1.25em;
                }
            .nav__btn--condensed, .nav__btn--recap {
                width:7em; height:3em;
            }
                .nav__btn--condensed, .nav__btn--recap .nav__btnLabel {
                    bottom:0.8125rem;
                }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .nav__btn {
                height:7.75em;
                width:9em;
            }
                .nav__btnIcon {
                    top:1.25em;
                }
                .nav__btnLabel {
                    bottom:1.25em;
                }
            .nav__btn--condensed, .nav__btn--recap {
                width:9em; height:3em;
            }
                .nav__btn--condensed, .nav__btn--recap .nav__btnLabel {
                    bottom:0.8125rem;
                }
        }



