

/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0;
    }

        .sponsorProfile__imgBox {
            width:2.75em; height:2.75em;
            float:left;
            border:1px solid #ddd;
            margin:0 0.5em 0 -0.25em;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:2.625em; height:2.625em;
                display: block;
            }

        .sponsorProfile__copy {
            float:left;
            width:calc(100% - 3.25em);
        }
        

        .sponsorProfile__links {
            line-height: 1;
            margin:0;
        }
            .sponsorProfile__tag {
                margin:0.125rem 0.5rem 0 0;
                float:left;
            }
            .sponsorProfile__link {
                border:0;
                float:left;
                padding: 0 0.125em;
            }

            .sponsor__actions {
                margin:0;
                float:left;
            }
                .sponsor__goBtn {
                    margin:0.25em 0 0.25em -4px;
                    padding:0.25em 0.5em;
                    border-radius:3px;
                    display:table;
                }

        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .sponsorProfile__copy--hasActions {
                width:calc(100% - 11.75em);
            }

            .sponsorProfile__imgBox {
                width:3em; height:3em;
            }
                .sponsorProfile__img {
                    width:2.875em; height:2.875em;
                    display: block;
                }

            .sponsor__actions {
                width:8.5rem;
            }
            .sponsor__goBtn {
                width:100%;
                margin:0;
                padding:0.5em;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .sponsorProfile__imgBox {
                width:3.5em; height:3.5em;
                border:2px solid #ddd;
            }
                .sponsorProfile__img {
                    width:3.25em; height:3.25em;
                    display: block;
                }
            .sponsorProfile__copy {
                width:calc(100% - 4.25em);
            }
                .sponsorProfile__copy--hasActions {
                    width:calc(100% - 15.25em);
                }
            .sponsorProfile__links {
                margin:0.25em 0 0 0;
            }

            .sponsor__actions {
                width:11.5rem;
            }
            .sponsor__goBtn {
                padding:0.5em;
                width:100%;
                margin:0;
            }
        }


        .adSkip__group--sponsored {
            position:absolute; z-index: 2;
            top:0; left:5em; right:24em;
            height:1.5em;
            text-align: center;
        }
            .adSkip__group--sponsored .adSkip__message {
                font-size:0.875em;
                color:#ccc;
                position:static;
                display: inline-block;
                background:rgba(0,0,0,0.8);
                padding:0.25em;
            }



