@font-face {
  font-family: 'fontello';
  src: url('../fonts/SocialIcons/font/fontello.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SocialIcons/font/fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SocialIcons/font/fontello.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SocialIcons/font/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SocialIcons/font/fontello.svg#svgfontello') format('svg'); /* Legacy iOS */
}

body {
    background:#ddd;
}

    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    .card__group {
        background:#fff;
        box-shadow: 0 0 3px 3px rgba(0,0,0,.12);
        margin:1em 0.25em;
        padding:0.125em 0 0;
    }

    .sponsor__group {
        width:3.5em;
        height:3.5em;
        overflow:hidden;
        float:left;
        border:1px solid #ddd;
        margin:0 0.5em 0 0;
    }

        .sponsor__logo img {
            width:100%;
            height:100%;
        }

    .sponsor__label {
        display:inline;
        text-align:left;
        color:#999;
        font-size:0.75em;
        margin:0 0.25em 0 0;
        font-family:"Open Sans", arial, helvetica, sans-serif;
        float:left;
    }

    .sponsor__name {
        display: inline;
        font-family:"Open Sans", sans-serif;
        font-size:0.75em;
        color:#d94040;
        float:left;
    }

    .sidebar__group {
        display:block;
        background:#eee;
    }

        .social__group {
            height:1.75em;
            padding:0.75em;
            border-bottom:1px solid #dedede;
            width:auto;
            text-align:center;
        }

        .social__group--icon {
            display:block;
            margin:0 auto 0.375em;
            border-radius:4px;
            text-shadow:0 0 1px rgba(0,0,0,0.6);
            text-rendering: optimizeLegibility;
            text-decoration:none;
        }

            .social__group--facebook {
                background:#2f478b;
            }

            .social__group--twitter {
                background:#30a2ef;
            }

            .social__group--pinterest {
                background:#b00d18;
            }

            .social__group--instagram {
                background:#194579;
            }

            .social__group--vimeo {
                background:#1ab7ea;
            }

            .social__group--youtube {
                background:#e52d27;
            }

            .social__group--share {
                background:#256c35;
            }

            

            .socialIconFont {
                width: 1.75em;
                height: 1.75em;
                display:block;
                margin:0 auto;
                text-align:left;
                position:relative;

            }

                .socialIconFont:before {
                    font-family:"fontello";
                    font-style:normal;
                    font-weight:normal;
                    font-size:1rem;
                    speak:none;
                    display:inline-block;
                    text-decoration:inherit;
                    width:1em;
                    text-align:center;
                    color:#fff;
                    position:absolute;
                    top:0.3125em;
                    left:0.375em;
                }

                    .social__group--facebook .socialIconFont:before {
                        content:'\e804';
                        margin:0.0625em 0 0;
                    }

                    .social__group--twitter .socialIconFont:before {
                        content:'\e806';
                    }

                    .social__group--pinterest .socialIconFont:before {
                        content:'\e802';
                        margin:0.0625em 0 0;
                    }

                    .social__group--instagram .socialIconFont:before {
                        content:'\e803';
                    }

                    .social__group--vimeo .socialIconFont:before {
                        content:'\e807';
                        font-size:0.9375em;
                        margin:0.125em 0 0;
                    }

                    .social__group--youtube .socialIconFont:before {
                        content:'\e805';
                    }

                    .social__group--share .socialIconFont:before {
                        content:'\e808';
                    }

                    .social__label {
                        display:none;
                    }

    

        .social__media,
        .social__share {
            margin:0;
            padding:0;
            display:inline-block;
        }

            .social__media li {
                margin:0 0.75em 0 0;
            }

            .social__media li,
            .social__share li {
                display:block;
                float:left;
            }




    .video__group {
        position:relative;
        width:100%;
        padding:0 0 56.25%;
    }

        .video__player {
            position: absolute;
            top:0;
            right:0;
            width:100%;
            height:100%;
        }


    .description__group {
    }

          
        .description__container {
            padding:0 1rem 1rem;
        }

            .description__container p {
                font-family:"Open Sans", arial, helvetica, sans-serif;
                font-size:1rem;
                line-height:1.5;
                margin:0;
                color:#545454;
            }


    .title__group {
        display:block;
        background:#fff;
        overflow:hidden;
        position:relative;
        margin: 0.75em;
    }

        .title__group h1 {
            color:#000;
            font-size:1.125em;
            line-height:1.25;
            display:inline;
            margin:0;
            font-family: "roboto condensed", arial, sans-serif;
            font-weight: 300;
            position:absolute;
            top:0.75em;
            left:3.625em;
            right:2em;
        }

    .cta__group {
        margin:1em;
    }

        .cta__box {
            display:block;
            text-decoration:none;
            background:rgba(217,64,64,1);
            border-radius: 4px;
        }

            .sponsoredBtn {
                font-family:"Roboto Condensed", sans-serif;
                color: #fff;
                font-size: 1.25em;
                font-weight: 700;
                line-height:1;
                text-shadow: 0 1px 1px rgba(0,0,0,.44);
                text-transform: uppercase;
                text-align: center;
                display:block;
                padding:0.5em 0.25em;
            }


/*  ================================================
    media queries for landscape
    ================================================ */

    @media only screen and (orientation: landscape) {

        .card__group {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            border:0;
            margin:0;
            padding:0;
        }

            .title__group {
                padding:0;
            }

                .title__group h1 {
                    position:relative;
                    top:inherit;
                    bottom:inherit;
                    left:0;
                    font-size:1.25em;
                }

            .video__group {
                width:60%;
                padding:0;
                position:absolute;
                top:3em;
                bottom:3em;
                left:0;
            }

            .sidebar__group {
                width:40%;
                position: absolute;
                top:3em;
                bottom:3em;
                right:0;
                background:none;
            }

                    .sponsor__group {
                        width:100%;
                        height:auto;
                        float:none;
                        border:none;
                    }

                        .sponsor__logo {
                            float:left;
                            margin:0 0.75em 0.125em;
                        }

                            .sponsor__logo img {
                                border:1px solid #ddd;
                                width:2.5em;
                                height:2.5em;
                            }

                        .sponsor__label {
                            display:block;
                            float:none;
                            margin:0.25em 0 0;
                        }

                        .sponsor__name {
                            display:block;
                            float:none;
                            font-size:1em;
                            margin:0.375em 0 0;
                        }

                .social__group {
                    padding:0.5em 0.75em;
                    border-bottom:0;
                    text-align:left;
                }

                    .socialIconFont {
                        width: 1.5em;
                        height: 1.5em;

                    }

                        .socialIconFont:before {
                            font-size:0.875rem;
                            top:0.375em;
                        }

                            .social__group--facebook .socialIconFont:before {
                                margin:0.0625em 0 0;
                            }

                            .social__group--pinterest .socialIconFont:before {
                                margin:0.0625em 0 0;
                            }

                            .social__group--vimeo .socialIconFont:before {
                                font-size:0.75em;
                                margin:0.125em 0 0;
                            }

                    .social__media li {
                        margin:0 0.25em 0 0;
                    }



                .description__group {
                    width:100%;
                    position:absolute;
                    top:5.75em;
                    bottom:1em;
                    overflow-y:auto;
                }

                    .description__container {
                        padding:0 1em 1em;
                    }

            .cta__group {
                margin:0;
                position:absolute;
                bottom:0;
                left:0;
                right:0;
            }

                .cta__box {
                    border-radius:0;
                }

                    .sponsoredBtn {
                        padding:0.75em;
                    }

    }

    @media only screen and (orientation: landscape) and (max-width:567px) {
        .video__group {
            width:58%;
        }

        .sidebar__group {
            width:42%;
        }

        .description__group {
            top: 5em;
        }

            .social__group {
                padding:0.25em 0.75em;
                height: 1.25em;
            }
                .socialIconFont {
                    width: 1.25em;
                    height: 1.25em;
                }

                    .socialIconFont:before {
                        font-size:0.75rem;
                        top:0.3125em;
                        left:0.3125em;
                    }

                        .social__group--facebook .socialIconFont:before {
                            margin:0.0625em 0 0;
                        }

                        .social__group--pinterest .socialIconFont:before {
                            margin:0.0625em 0 0;
                        }

                        .social__group--vimeo .socialIconFont:before {
                            font-size:0.625em;
                            margin:0.125em 0 0;
                            left:0.4375em;
                        }

                        .social__group--share .socialIconFont:before {
                            font-size:0.75em;
                        }


    }
