


/*  ==========================================================================
    Ad styles
    ========================================================================== */
    .adDisplay__group {
        text-align: center;
    }
        .display-ad__title-h1 {
            display: none;
        }
        .vast-video__container {
            position:relative;
        }
            .vast-video__container--disabled {
                height:0; overflow: hidden;
            }
            .vast-video {
                width:100%; margin:0;
            } 
                .vast-video__container--disabled .vast-video {
                    position:absolute; right:-200%;
                }
        .adDisplay__view {
            width:18.75rem; height:15.625rem;
            border:0; margin:0 auto;
        }
            .adDisplay__view iframe {
                border:0; margin:0;
            }

    


/*  ================================================
    Display Ad Card classes
    ================================================ */
    .displayAdCard__group {
        text-align: center;
    }


        .displayAdBrand__tagline {
            font-size:0.875em;
            color:#999;
            margin:0 0 0.8125rem 0;
        }
            .displayAdBrand__taglineLink {
                font-weight:bold;
            }


        .displayAdBrand__linksBox {
            margin:1.375em 0 0 0;
        }
            .displayAdBrand__link {
                padding:0 0.5em;
                font-size:0.875em;
                display: inline-block;
            }
                .displayAdBrand__linkLabel {
                    vertical-align: middle;
                }
                .displayAdBrand__linkLabel {
                    margin-left:0.25em;
                }



/*  ================================================
    Companion Ad classes
    ================================================ */
    .companionAd__group {
        width:18.75em;
        margin:0 auto;
    }
        .displayAd__label {
            font-size:0.75em;
            color:#999;
            text-align: center;
            width:100%;
            display: block;
        }

        .displayAd__box {
            width:18.75em; height:15.625em;
            margin:0 auto;
        }
            .displayAd__box iframe {
                width:100%; height:100%;
                border:0;
            }

