/*  ================================================
    global styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:normal; 
        color:#545454; 
        line-height: 1.5;

        background:#fff; 
        margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */        
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    .tk--action {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:700;
    }
    .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@4x.png') 0 0 / 28.125rem 28.125rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            background-size:18.75em 18.75em;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1.5rem; height:1.5rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1.5rem -4.5rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -4.5rem -4.5rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -7.5rem -4.5rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -10.5rem -4.5rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -13.5rem -4.5rem;
            }
            .socialIconsBe--instagram:before {
                background-position: -16.5rem -4.5rem;
            }


            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
                background-size:18.75em 18.75em;
                width:1rem; height:1rem;
            }
            .uiIconsBe--link:before {
                background-position:-3rem -9rem;
                background-size:18.75em 18.75em;
                width:1.25rem; height:1rem;
            }
            .uiIconsBe--toc:before {
                background-position: -13.5rem -13.5rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0; top:0; bottom:0;
        width:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:4em; right:1em;
        }
        @media screen and (orientation:landscape) {
            .overlay__closeBtn {
                top:1em; right:5em;
            }
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:focus {
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        display:inline-table;
        position:relative;
    }
        .btnPrimary .btn__label {
            font-size:0.875em;
            line-height: 1rem;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
            display: table-cell;
            vertical-align: middle;
        }


        .btnPrimary[disabled],
        .btnPrimary[disabled]:active,
        .btnPrimary[disabled]:focus {
            background:none;
            opacity:0.4;
        }
            .btnPrimary[disabled] .btn__label,
            .btnPrimary[disabled]:active .btn__label,
            .btnPrimary[disabled]:focus .btn__label {
                text-shadow:none;
                color:#fff;
            }
        .btnPrimary--small {
            padding:0.5em 1em;
            border-radius:3px;
            display: inline-block;
        }

    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:transparent;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        display:inline-table;
    }
        .btnSecondary .btn__label {
            font-size:0.875em;
            line-height: 1rem;
            color:#fff;
            font-weight:normal;
            display: table-cell;
            vertical-align: middle;
        }

        .btnSecondary .btn__label,
        .btnSecondary:active .btn__label,
        .btnSecondary:hover .btn__label {
            text-shadow:none;
            color:#fff;
        }



    /* activator state - when you tap on something, it lights up*/
    .btnPrimary:after,
    .btnSecondary:after {
        content:'';
        background:#00aeff;
        position:absolute; z-index: 2;
        top:0; left:0; right:0; bottom:0;
        opacity:0;
    }
        .btnPrimary:active:after,
        .btnSecondary:active:after {
            opacity:0.5;
        }




    .MiniReel__group .ui--offscreen {
        height:0; overflow:hidden;
        position:relative;
    }
    
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }



/*  ================================================
    MiniReel structure classes
    ================================================ */
    .cards__group {
        background:#dddddd; padding:3em 0.375em 4em 0.375em;
        overflow-x:auto; overflow-y: auto; -webkit-overflow-scrolling: touch;
        position: fixed; top:0; bottom:0; left:0; right:0;
    }
        .cards__group--solo {
            padding-top:2.875em;
        }

    @media screen and (orientation:landscape) {
        .cards__group {
            padding:0.5em 4.5em;
        }
    }

    .MiniReel__title {
        color:#000;
        font-size:1.25em;
        line-height: 1.2;
        font-weight:bold; font-style: italic;
        text-align: center;
        margin:0 0 0.5em 0;
        width:100%;
        white-space: nowrap;
        overflow: hidden; text-overflow:ellipsis;
    }
        .cards__group--solo .MiniReel__title {
            display: none;
        }


    .cards__list, .cards__item {
        margin:0; padding:0; list-style:none;
    }
        
    .card__group {
        background:#fff; 
        border-radius: 3px; 
        padding:0.5em 0 1em;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12); 
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
    }
        .card__title {
            color:#000;
            font-size:1.375em;
            line-height:1.2;
            margin:0.125rem 0.5em 0.5em; 
            text-align: center;
        }
        .card__attributes {
            color:#999; 
            font-size:0.875rem;/*14px*/
        }
        .card__desc {
            margin:0.875em 0.5em 0 0.5em; 
            font-size:1em;
            line-height:1.5;
        }
        .card__copy {
            margin:1em 0.5em 0.143em 0.5em; font-size:0.875em;/*14px*/ color:#747474; line-height:1.75;
            background: transparent !important;
        }





/*  ================================================
    Splash Screen classes
    ================================================ */
    .splash__start {
        position:absolute; z-index: 20;
        top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:#000;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }
