
/*  ================================================
    share to social network modal styles
    ================================================ */
    .shareto__box {
        position: absolute;
        z-index: 200;
        top: 50%;
        left: 1.5em;
        right: 1.5em;
        margin: -25% 0 0 0;
        border-radius: 3px;
        background: #fff;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (orientation:landscape) {
        .shareto__box {
            position: absolute;
            z-index: 400;
            top: 50%;
            left: 6.5em;
            right: 6.5em;
            margin: -18% 0 0 0;
            border-radius: 3px;
            background: #fff;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .shareto__intro {
        font-size: 0.8125em;
        color: #999;
        display: block;
        margin: 1.125rem 0 0 0;
    }
    .shareto__list {
        padding: 0;
        margin: 0.5em;
    }
    ul.shareto__list li {
    list-style-type: none;
    }
     .share__item {
        list-style-type: none;
        padding-left: 0.25em;
    }
    .socialBtn, .socialBtn a {
        color: #ffffff;
        line-height: 2.5em;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 1px 1px 1px #333;
        margin-bottom: 0.5em;
    }
    .socialBtn__bg--twitter {
        background-color: #00b0ed;
    }
    .socialBtn__bg--facebook {
        background-color: #3B5998;
    }
    .socialBtn__bg--pinterest {
        background-color: #c92228;
    }

/***styles for share button to initiate the modal***/
    .shareBtn {
        background-color: #0c7e4a;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        padding: 0 0.125em;
        display: inline-block;
    }
        .shareBtn.socialIconsBe__solid--share:before {
            background-position: -19.5rem -16.5rem;
            border: 1px solid #0c7e4a;
            border-radius: 10px;
        }
        .shareBtn__label {
            vertical-align: middle;
            font-size: 0.85em;
            padding: 0.25em;
            color: #fff;
        }
        .shareBtn .shareBtn__label a {
            color: #fff;
            font-size: 0.85em;
            padding: 0 0.25em;
            border-radius: 5px;
        }
    /***including icons for buttons***/
            .sprite--close {
                width:1rem; height:1rem;
                background-position:-5rem -9rem;
                display: inline-block;
            }

            .socialIconsBe:before,
            .uiIconsBe:before {
                content:'';
                width:1.5rem; height:1.5rem;
                display: inline-block;
                vertical-align: middle;
            }

                .socialIconsBe--youtube:before {
                    background-position:-1.5rem -4.5rem;
                }
                .socialIconsBe--vimeo:before {
                    background-position: -4.5rem -4.5rem;
                }
                .socialIconsBe--facebook:before {
                    background-position: -7.5rem -4.5rem;
                }
                .socialIconsBe--twitter:before {
                    background-position: -10.5rem -4.5rem;
                }
                .socialIconsBe--pinterest:before {
                    background-position: -13.5rem -4.5rem;
                }
                .socialIconsBe--instagram:before {
                    background-position: -16.5rem -4.5rem
                }
                .socialIconsBe--share:before {
                    background-position: -19.5rem -16.5rem;
                }
                .socialIconsBe__light--youtube:before {
                    background-position:-1.5rem -7.5rem;
                }
                .socialIconsBe__light--vimeo:before {
                    background-position: -4.5rem -7.5rem;
                }
                .socialIconsBe__light--facebook:before {
                    background-position: -7.5rem -7.5rem;
                }
                .socialIconsBe__light--twitter:before {
                    background-position: -10.5rem -7.5rem;
                }
                .socialIconsBe__light--pinterest:before {
                    background-position: -13.5rem -7.5rem;
                }
/***close icon for modal***/
    .MiniReel__closeBtn--modal, .MiniReel__closeBtn--modal:active, .MiniReel__closeBtn--modal:focus {
        width: 2.5em;
        height: 2.5em;
        padding: 0;
        position: absolute;
        z-index: 5;
        top: -1.25em;
        right: -1.25em;
        background: #000;
        border-radius: 50%;
        border: 3px solid #fff;
        -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    }
        .MiniReel__closeBtn--modal:hover, .ballot__btn0:hover::before, .actionsModal__btn:hover::after, .playlist__item.playlist__item--current:hover, .player__playBtn:hover, .btnSecondary:hover {
            background-color: rgb(217, 64, 64);
        }
        .MiniReel__group--SingleCardMR .shareto__box {
            z-index: 400;
        }
