

/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0.6875em 0.5em;
    }


        .sponsorProfile__imgBox {
            width:3.25em; height:3.25em;
            float:left;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:3em; height:3em;
                border:1px solid #ddd;
                display: block;
            }

        .sponsorProfile__copy {
            float:left;
        }


        .sponsorProfile__tag {
            font-size:0.875em; color:#999;
            margin:0 0 0.25em;
        }
        
        .sponsorProfile__links {
            margin:0 0 0 -0.25em;
            display: inline-block;
        }
            .sponsorProfile__link {
                border:0;
                float:left;
                padding:0 0.25em;
            }

        .sponsor__goBtn {
            padding:1em;
            border-radius:3px;
            display: inline-block;
        }
        .sponsorProfile__linkBtn {
            display: inline-block;
            vertical-align: top;
        }
        
        @media screen and (orientation:landscape) {
            .sponsor__actions {
                float:right;
                margin:0.25em 0.5em;
            }
        }

