<div class="card__holder" data-class="flipped:card__holder--flipped">
    <div class="card__group card__group--front">
        <div data-view="playerOutlet:PlayerOutletView" class="player__group"></div>

        <div data-if="sponsor" class="cardSponsor__profile clearfix">
            <span data-if="website.logo"
                data-view="logoView:LinkItemView" data-model="website"
                data-target="controller" data-action="clickthrough"><a href="{{href}}"
                class="sponsor__logo cardSponsor__logo"
                title="{{text}}"
                target="_blank">
                <img src="{{logo}}" alt="{{text}}" class="sponsor__logoImg">
            </a></span>
            <p class="cardSponsor__tag"
                data-view="websiteView:LinkItemView" data-model="website"
                data-target="controller" data-action="clickthrough">
                Sponsored by <br>
                <a href="{{href}}" title="{{text}}" target="_blank">{{text}}</a>
            </p>
        </div>

        <h1 class="card__title tk--hdr" data-class="sponsor:card__title--secondary">
            {{title}}
            <span data-if="showSource" class="card__source tk--copy">&mdash;&nbsp;<a href="{{href}}" title="YouTube" target="_blank">{{source}}</a></span>
        </h1>

        <span data-if="action.text"
            data-view="ctaView:LinkItemView" data-model="action"
            data-target="controller" data-action="clickthrough"><a href="{{href}}" class="actionBtn cardSponsor__action" target="_blank" title="More Info">
            <span class="actionBtn__label">{{text}}</span>
        </a></span>

        <div data-view="ballotOutlet:View"></div>
        <div data-view="postOutlet:View"></div>
    </div>
    <div class="card__group card__group--back">
        <p class="card__count">{{number}} of {{total}}</p>

        <div data-if="sponsor" class="cardSponsor__profile clearfix">
            <span data-if="website.logo"
                data-view="backLogoView:LinkItemView" data-model="website"
                data-target="controller" data-action="clickthrough"><a href="{{href}}"
                class="sponsor__logo cardSponsor__logo"
                title="{{text}}"
                target="_blank">
                <img src="{{logo}}" alt="{{text}}" class="sponsor__logoImg">
            </a></span>
            <p class="cardSponsor__tag"
                data-view="backWebsiteView:LinkItemView" data-model="website"
                data-target="controller" data-action="clickthrough">
                Sponsored by <br>
                <a href="{{href}}" title="{{text}}" target="_blank">{{text}}</a>
            </p>
        </div>

        <h1 class="card__title card__title--secondary tk--hdr">{{title}}</h1>

        <div class="card__copy">{{note}}</div>

        <div data-if="hasLinks" class="sponsor__links">
            <span data-if="website.href" data-view="iconWebsiteView:LinkItemView" data-model="website" data-target="controller" data-action="clickthrough"><a href="{{href}}" target="_blank" title="Official Website" class="sponsor__iconLink c6icon c6icon--link"><span class="ir">Website</span></a></span><!--
            --><span data-if="links.length" data-view="links:LinksListView" data-model="links">
                <span data-target="controller" data-action="clickthrough"><a href="{{href}}" target="_blank" title="Official {{label}}" class="sponsor__iconLink sponsor__iconLink--{{type}} c6icon c6icon--{{type}}"><span class="ir">{{label}}</span></a></span>
            </span>
        </div>
    </div>
</div>
