<section class="shareto__box">
    <span class="shareto__intro">Share this with your friends</span>
    <ul class="shareto__list">
        <li class="socialBtn socialBtn__bg--facebook spriteBe socialIconsBe socialIconsBe__light--facebook">
            <a data-if="shareLinks.twitter" href="https://twitter.com/home?status={{shareLinks.twitter}}"
                   onclick="return !window.open(this.href, 'Facebook', 'top=225,left=380,toolbar=0,status=0,width=520,height=350')" class="share__item share__item--facebook"><span> Share</span></a>
        </li>
        <li class="socialBtn socialBtn__bg--twitter spriteBe socialIconsBe socialIconsBe__light--twitter">
            <a data-if="shareLinks.twitter" href="https://twitter.com/home?status={{shareLinks.twitter}}"
                   onclick="return !window.open(this.href, 'Facebook', 'top=225,left=380,toolbar=0,status=0,width=520,height=350')" class="share__item share__item--twitter "><span> Tweet</span></a>
        </li>
        <li class="socialBtn socialBtn__bg--pinterest spriteBe socialIconsBe socialIconsBe__light--pinterest">
            <a data-if="shareLinks.pinterest" href="#" class="share__item share__item--pinterest"><span> Pin it</span></a>        
        </li>
    </ul>
</section>
