<ul class="actionsModal__list">
    <li class="actionsModal__item">
        <button data-view="replayButton:ButtonView"
            data-target="controller"
            data-action="replay"
            class="btnPrimary actionsModal__btn spriteBe uiIconsBe uiIconsBe--replay"
            type="button"
            title="Watch Video Again">
            <span class="actionsModal__btnLabel btn__label tk--action">Watch Video Again</span>
        </button>
    </li>
    <li class="actionsModal__item">
        <a data-if="website" class="btnPrimary actionsModal__btn
        spriteBe uiIconsBe uiIconsBe--link"
        title="Visit Sponsor Site" href="{{website}}"
        type="button" target="_blank">
            <span class="actionsModal__btnLabel btn__label tk--action">Visit Sponsor Site</span>
        </a>
    </li>
</ul>

<div class="overlay">
    <button data-view="closeButton:ButtonView"
        data-target="controller"
        data-action="deactivate"
        class="sprite sprite--close overlay__closeBtn">
        <span class="ir">Close</span>
    </button>
</div>
