<section class="card__group clearfix">
    <h1 class="card__title tk--hdr">
        {{title}}
        <span class="card__attributes tk--copy">
            via&nbsp;<a target="_blank" href="{{href}}" class="textLink"
            title="{{source}}">{{source}}</a>
        </span>
    </h1>

    <div style="display: none;" class="player js-playerBox"></div>
    <div style="background-image: url('{{thumbs.large}}');" class="player__thumbnail">
        <span class="ir"><img /></span>
    </div>

    <div class="card__desc">{{note}}</div>

</section><!--.card__group-->
