/*  ================================================
    instagram image card
    ================================================ */
    .MiniReel__group--singleCardMR .cards__list {
        right:0.75em;
    }

    .MiniReel__group--singleCardMR .cards__group {
        top:0.5em;
    }
        .instag____player__group {
            margin:0;
            padding:1em;
            width:100%;
            position:absolute;
            background:#fff;
            border:1px solid #eeefef;
            font-size:1.125em;
            overflow:hidden;
        }

        .MiniReel__group--singleCardMR .instag____player__group {
            height:100%;
        }


            .instag____profile__group {
                background:#fafafa;
                border-radius:4px;
                border:1px solid #eeefef;
                width:10em;
                height:100%;
                overflow-y:auto;
                padding:0.75em;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
            }


                .instag____profile__picBox {
                    display:block;
                    width:60%;
                    margin:0 auto;
                }

                    .instag____profile__pic {
                        width:100%;
                        border-radius:100%;
                        border:1px solid #eeefef;
                    }

                .instag____profile__sponsor {
                    font-size:0.75em;
                    color:#a5a7aa;
                    display:inline-block;
                    width:100%;
                    text-align:center;
                }

                .instag____profile__name {
                    font-size:0.875em;
                    font-weight:300;
                    word-wrap:break-word;
                    color:#4b4f54;
                    margin:0;
                    width:100%;
                    text-align:center;
                    display:block;
                }


                            

                .instag____profileDesc__group {
                    margin:1em 0 0 0;
                }

                    .instag____profileDesc {
                        font-size:0.75em;
                        color:#4b4f54;
                        margin:0;
                        line-height:1.5;
                    }

                    .instag____profileDesc__name {
                        font-weight:600;
                    }

                    .instag____profileDesc__link {
                        color:#125688;
                        word-wrap:break-word;
                    }


                    .instag____profileData__group {
                        list-style:none;
                        margin:1.125em 0 0;
                        padding:0;
                        color:#34373b;
                        font-size:0.75em;

                    }
                        .instag____profileData {
                            margin:0.5em 0 0 0;
                        }

                        .instag____profileData__stat {
                            font-weight:600;
                        }


                    .instag____profileDesc__follow,
                    .instag____profileDesc__follow:focus {
                        background-color:#fafafa;
                        border:1px solid #4090db;
                        border-radius:3px;
                        margin:1.3125em 0 0 0;
                        padding: 0.5em 0;
                        color:#4090db;
                        text-transform:uppercase;
                        font-size:0.75em;
                        width:100%;
                        display:block;
                        text-align:center;
                    }

                    .instag____profileDesc__logo {
                        background:url('../../img/social-card-sprites.png') -1em -1em/19em no-repeat;
                        width:5em;
                        height:1.5em;
                        margin:1em 0 0;
                        display:block;
                    }

                    .instag____socialMedia__group {
                        list-style:none;
                        margin:0.5em 0 0;
                        padding:0;
                    }

                        .instag____socialMedia__icon {
                            width:1em;
                            height:1em;
                            display:inline-block;
                        }

                            .instag____socialMedia__icon--youtube:before,
                            .instag____socialMedia__icon--vimeo:before,
                            .instag____socialMedia__icon--facebook:before,
                            .instag____socialMedia__icon--twitter:before,
                            .instag____socialMedia__icon--pinterest:before,
                            .instag____socialMedia__icon--instagram:before {
                                content:'';
                                width:1rem;
                                height:1rem;
                                display:inline-block;
                                vertical-align:middle;
                            }

                            .instag____socialMedia__icon--youtube:before {
                               background:url('../../img/sprite--alpha@2x.png') -1rem -3rem/18.75rem 18.75rem no-repeat; 
                            }

                            .instag____socialMedia__icon--vimeo:before {
                               background:url('../../img/sprite--alpha@2x.png') -3rem -3rem/18.75rem 18.75rem no-repeat; 
                            }

                            .instag____socialMedia__icon--facebook:before {
                               background:url('../../img/sprite--alpha@2x.png') -5rem -3rem/18.75rem 18.75rem no-repeat; 
                            }

                            .instag____socialMedia__icon--twitter:before {
                               background:url('../../img/sprite--alpha@2x.png') -7rem -3rem/18.75rem 18.75rem no-repeat; 
                            }

                            .instag____socialMedia__icon--pinterest:before {
                               background:url('../../img/sprite--alpha@2x.png') -9rem -3rem/18.75rem 18.75rem no-repeat; 
                            }

                            .instag____socialMedia__icon--instagram:before {
                               background:url('../../img/sprite--alpha@2x.png') -11rem -3rem/18.75rem 18.75rem no-repeat; 
                            }




            .instag____mediaImg__group {
                position:absolute;
                top:1em;
                bottom:1em;
                left:12em;
                right:31em;
            }

                .instag____mediaImg {
                    height:100%;
                    border-radius:4px 0 0 4px;
                    border:1px solid #eeefef;
                    border-right:none;
                    background:#fafafa center/contain no-repeat;
                }





            .instag____post__group {
                border-radius:0 4px 4px 0;
                border:1px solid #eeefef;
                border-left:none;
                background-color:#fff;
                position:absolute;
                right:1em;
                top:1em;
                bottom:1em;
                padding:1em;
                width:30em;
                font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
            }

                .instag____postAccount__group--small {
                    display:none;
                }


                    .instag____postAccount__pic {
                        width:3.5em;
                        border-radius:100%;
                        float:left;
                    }

                    .instag____postAccount__name {
                        margin:0.8125em 1em 0;
                        width:50%;
                        float:left;
                        font-size:1em;
                        word-wrap:break-word;
                        color:#125688;
                    }


                    .instag____postAccount__logo {
                        background:url('../../img/social-card-sprites.png') -1em -1em/19em no-repeat;
                        width:5em;
                        height:2em;
                        position:absolute;
                        right:0;
                        top:0.9375em;
                    }

                .instag____post__title {
                    font-size:1.125em;
                    font-weight:600;
                    width:100%;
                    border-bottom:2px solid #eeefef;
                    margin:0 0 0.75em 0;
                    padding:0 0 1em 0;
                }

            .instag____postInfo__group {
                height:100%;
                position:relative;
            }

                .instag____postInfo__likes {
                    color:#4b4f54;
                    font-size:0.75em;
                    font-weight:600;
                    position:absolute;

                }

                .instag____postInfo__date {
                    color:#a5a7aa;
                    font-size:0.75em;
                    position:absolute;
                    right:0;
                }


                .instag____postInfo__copy {
                    color:#000;
                    font-size:0.875em;
                    margin:1em 0 0 0;
                    padding:0 1em 0 0;
                    position:absolute;
                    top:1.375em;
                    bottom:10em;
                    overflow-y:auto;
                }

                .instag____postInfo__name {
                    color:#125688;
                }



                .instag____postInfo__tag {
                    color:#125688;
                    display:inline;
                }

                .instag____postInfo__cta,
                .instag____postInfo__cta:focus {
                    border:1px solid #d94040;
                    border-radius:3px;
                    margin:1.3125em 0 0;
                    padding: 0.5em 0;
                    max-width:15em;
                    background-color:#d94040;
                    color:#fff;
                    text-transform:uppercase;
                    font-size:0.75em;
                    display:block;
                    text-align:center;
                }

                .instag____postInfo__comments {
                    display:block;
                    color:#a5a7aa;
                    font-size:0.75em;
                    margin:1em 0 0 0;
                }



            .instag____postInfo__feedback {
                position:absolute;
                bottom:2.25em;
                left:1em;
                right:1em;
                padding:2em 0 0 3.5em;
                border-top:1px solid #eeefef;
                font-size:0.8125em;
                color:#a5a7aa;
            }
            .instag____postInfo__feedback:before {
                content:'';
                background:url('../../img/social-card-sprites.png') -5em -0.75em/14em no-repeat;
                width:2.75em;
                height:2.125em;
                position:absolute;
                left:0;
                top:1.25em;
            }
            .instag____postInfo__feedback:after {
                content:'';
                background:url('../../img/social-card-sprites.png') -8em -0.75em/14em no-repeat;
                width:3em;
                height:1em;
                position:absolute;
                right:0;
                top:2em;
            }

                .instag____postInfo__comment {
                    position:absolute;
                    top:1.5em;
                }

/*  ================================================
    instagram video card
    ================================================ */


    .instag____mediaVid__group {
        position:absolute;
        left:12em;
        right:31em;
        top:1em;
        bottom:1em;
        border-radius:4px 0 0 4px;
        border:1px solid #000;
        overflow:hidden;
    }

        .instag____mediaVid__box {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:#000;

        }

            .instag____mediaVid {
                width:100%;
                height:100%;
                position:absolute;
                border:0;
            }

            .instag____mediaVid .playerBox,
            .instag____mediaVid .playerBox object, 
            .instag____mediaVid .playerBox video {
                min-height:auto;
                min-width:auto;
            }
