@font-face {
  font-family:'rosettaicons';
  src: url('../../fonts/rosetta-icons-Regular.eot');
  src: url('../../fonts/rosetta-icons-Regular.woff') format('woff'),
       url('../../fonts/rosetta-icons-Regular.ttf')  format('truetype');
}

    .MiniReel__group--singleCardMR .cards__list {
        top:0.75em;
        right:0.75em;
    }

    .MiniReel__group--singleCardMR .cards__group {
        top:0.5em !important;
    }

    .MiniReel__group--singleCardMR .pager__group,
    .MiniReel__group--singleCardMR .titleBar__group,
    .MiniReel__group--singleCardMR .nav__btn,
    .MiniReel__group--singleCardMR .playlist__group,
    .MiniReel__group--singleCardMR .btnPrimary {
        display:none;
    }

    .MiniReel__group--singleCardMR .twitter____player__group {
        width:100%;
        height:100%;
    }


/*  ================================================
    twitter text card
    ================================================ */

    .twitter____text__group {
        position:relative;
        background:center/cover no-repeat;
        overflow:hidden;
    }



        .twitter____profileBar__group {
            background-color:rgba(0, 0, 0, 0.25);
            padding:1.5em;
            position:relative;
        }

            .twitter____profileBar__picBox {
                width:6em;
                position:absolute;
                top:1em;
                left:1em;
            }

                .twitter____profileBar__pic {
                    border-radius:5px;
                    border:3px solid #fff;
                }

                .twitter____profileBar__sponsor {
                    color:#d4d4d4;
                    font-size:0.875em;
                    text-align:left;
                    margin:-0.5em 0 0.25em 8.5em;
                }

                .card__group .twitter____profileBar__sponsor {
                    display:none;
                }

                .card__group.twitter____card__group--sponsored .twitter____profileBar__sponsor {
                    display:block;
                }

                .twitter____profileBar__name {
                    margin:0 0 0 6em;
                    color:#d4d4d4;
                    font:bold 1.25em Arial, Helvetica, sans-serif; 
                }

                .twitter____profileBar__handle {
                    margin:0 0 0 1em;
                    color:#d4d4d4;
                    word-wrap:break-word;
                    font:1.25em Arial, Helvetica, sans-serif; 
                }

                .twitter____profileBar__follow {
                    position:absolute;
                    top:1em;
                    right:2em;
                    color:#fff;
                    font:bold 1em Arial, Helvetica, sans-serif; 
                }
                .twitter____profileBar__follow:before {
                    content:'\f179';
                    font-family:'rosettaicons';
                    color:#55ACEE;
                    margin:0 1em 0 0;
                }

                 .twitter____socialMedia__group--light {
                    list-style:none;
                    margin:0.75em 0 0;
                    padding:0;
                }

                .card__group .twitter____socialMedia__group--light {
                    display:none;
                }

                .card__group.twitter____card__group--sponsored .twitter____socialMedia__group--light {
                    display:block;
                    position:absolute;
                    top:2em;
                    right:2em;
                }

                        .twitter____socialMedia__icon--youtube:before,
                        .twitter____socialMedia__icon--vimeo:before,
                        .twitter____socialMedia__icon--facebook:before,
                        .twitter____socialMedia__icon--twitter:before,
                        .twitter____socialMedia__icon--pinterest:before,
                        .twitter____socialMedia__icon--instagram:before {
                            content:'';
                            width:1rem;
                            height:1rem;
                            display:inline-block;
                            vertical-align:middle;
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--youtube:before {
                           background:url('../../img/sprite--alpha@2x.png') -1rem -5rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--vimeo:before {
                           background:url('../../img/sprite--alpha@2x.png') -3rem -5rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--facebook:before {
                           background:url('../../img/sprite--alpha@2x.png') -5rem -5rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--twitter:before {
                           background:url('../../img/sprite--alpha@2x.png') -7rem -5rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--pinterest:before {
                           background:url('../../img/sprite--alpha@2x.png') -9rem -5rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__group--light .twitter____socialMedia__icon--instagram:before {
                           background:url('../../img/sprite--alpha@2x.png') -11rem -5rem/18.75rem 18.75rem no-repeat; 
                        }






        .twitter____txtTweet__group {
            background-color:rgba(256, 256, 256, 0.9);
            padding:1em;
            width:80%;
            max-width:55em;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:5px;
        }

            .twitter____txtTweet__title {
                color:#292f33;
                font-size:1.75em;
                font-weight:600;
                margin:0;
            }

            .twitter____txtTweet {
                margin:0;
                font:1.75em Arial, Helvetica, sans-serif;
                color:#292f33;
                line-height:1.5;
            }

            .twitter____txtTweet__tag {
                color:#2b7bb9;
                word-wrap:break-word;
            }

            .twitter____txtTweet__cta--btn, 
            .twitter____txtTweet__cta--btn:focus {
                border:1px solid #d94040;
                border-radius:3px;
                margin:1em 0 0.5em;
                padding:0.5em 0;
                max-width:15em;
                background-color:#d94040;
                color:#fff;
                text-transform:uppercase;
                font-size:1em;
                text-align:center;
            }

            .card__group .twitter____txtTweet__cta--btn,
            .card__group .twitter____txtTweet__cta--btn:focus {
                display:none;
            }

            .card__group.twitter____card__group--sponsored .twitter____txtTweet__cta--btn,
            .card__group.twitter____card__group--sponsored .twitter____txtTweet__cta--btn:focus {
                display:block;
            }

            .twitter____txtTweet__cta--link,
            .twitter____txtTweet__cta--link:focus {
                color:#d94040;
                font-size:1.5em;
                margin:0;
            }

            .card__group .twitter____txtTweet__cta--link,
            .card__group .twitter____txtTweet__cta--link:focus {
                display:none;
            }

            .card__group.twitter____card__group--sponsored .twitter____txtTweet__cta--link,
            .card__group.twitter____card__group--sponsored .twitter____txtTweet__cta--link:focus {
                display:block;
            }


            .twitter____txtTweet__time {
                color:#8899a6;
                font-weight:bold;
                display:inline-block;
                margin:1em 0 0 0;
            }

            .twitter____info__group {
                position:absolute;
                right:1em;
                bottom:1em;
            }

                .twitter____info__reply,
                .twitter____info__retweet,
                .twitter____info__favorite {
                    color:#8899a6;
                    font-weight:bold;
                    margin:0 0 0 1em;
                }

                .twitter____info__reply:before,
                .twitter____info__retweet:before,
                .twitter____info__favorite:before {
                    font-family:'rosettaicons';
                    font-weight:normal;
                    color:#ccd6dd;
                    margin:0 0.5em 0 0;
                }
                .twitter____info__reply:before {
                    content:'\f151';
                }
                .twitter____info__retweet:before {
                    content:'\f152';
                }
                .twitter____info__favorite:before {
                    content:'\f147';
                }


       
/*  ================================================
    twitter image card
    ================================================ */

    .twitter____player__group {
        margin:0;
        padding:1em;
        width:100%;
        position:absolute;
        background:#f5f8fa;
        border:1px solid #e1e8ed;
        font-size:1.125em;
        overflow:hidden;
    }

        .twitter____profile__group {
            width:10em;
            font-family: Arial, Helvetica, sans-serif;
        }


            .twitter____profile__picBox {
                display:block;
                width:60%;
                margin:0 0 0 auto;
            }

                .twitter____profile__pic {
                    border-radius:5px;
                    border:1px solid #fff;
                }

                .twitter____profile__sponsor {
                    color:#8899a6;
                    font-size:0.875em;
                    text-align:right;
                    margin:0;
                }


                .card__group .twitter____profile__sponsor {
                    display:none;
                }

                .card__group.twitter____card__group--sponsored .twitter____profile__sponsor {
                    display:block;
                }

                .twitter____profile__name {
                    font-size:1.25em;
                    font-weight:700;
                    color:#292f33;
                    text-align:right;
                    display:block;
                }

                .twitter____profile__handle {
                    color:#8899a6;
                    font-size:0.875em;
                    text-align:right;
                    display:block;
                    margin:0 0 1em 0;
                }

                .twitter____profile__follow,
                .twitter____profile__follow:focus {
                    width:100%;
                    display: inline-block;
                    text-align:center;
                    padding:0.34375rem 0.8125rem 0.40625rem 0.71875rem;
                    font-size:0.75rem;
                    font-weight:700;
                    line-height:1;
                    color:#55acee;
                    background-color:#fff;
                    border:1px solid #55acee;
                    border-radius:4px;
                }
                .twitter____profile__follow:before,
                .twitter____profile__follow:before {
                    content:'\f179';
                    font-family:'rosettaicons';
                    position:relative;
                    top:0.0625em;
                    margin:0 0.5em 0 0;
                }

                .twitter____socialMedia__group {
                    list-style:none;
                    margin:0.5em 0 0;
                    padding:0;
                }

                .card__group .twitter____socialMedia__group {
                    display:none;
                }

                .card__group.twitter____card__group--sponsored .twitter____socialMedia__group {
                    display:block;
                }


                    .twitter____socialMedia__icon {
                        width:1em;
                        height:1em;
                        margin:0 0 0 0.5em;
                        display:inline-block;
                        float:right;
                    }

                        .twitter____socialMedia__icon--youtube:before,
                        .twitter____socialMedia__icon--vimeo:before,
                        .twitter____socialMedia__icon--facebook:before,
                        .twitter____socialMedia__icon--twitter:before,
                        .twitter____socialMedia__icon--pinterest:before,
                        .twitter____socialMedia__icon--instagram:before {
                            content:'';
                            width:1rem;
                            height:1rem;
                            display:inline-block;
                            vertical-align:middle;
                        }

                        .twitter____socialMedia__icon--youtube:before {
                           background:url('../../img/sprite--alpha@2x.png') -1rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__icon--vimeo:before {
                           background:url('../../img/sprite--alpha@2x.png') -3rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__icon--facebook:before {
                           background:url('../../img/sprite--alpha@2x.png') -5rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__icon--twitter:before {
                           background:url('../../img/sprite--alpha@2x.png') -7rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__icon--pinterest:before {
                           background:url('../../img/sprite--alpha@2x.png') -9rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

                        .twitter____socialMedia__icon--instagram:before {
                           background:url('../../img/sprite--alpha@2x.png') -11rem -3rem/18.75rem 18.75rem no-repeat; 
                        }

            

        .twitter____mediaImg__group {
            position:absolute;
            top:1em;
            bottom:1em;
            left:12em;
            right:31em;
        }

            .twitter____mediaImg {
                height:100%;
                border-radius:5px 0 0 5px;
                border:1px solid #e1e8ed;
                background:#ffffff center/contain no-repeat;
            }





        .twitter____tweet__group {
            border-radius:0 4px 4px 0;
            border:1px solid #e1e8ed;
            border-left:none;
            background-color:#fff;
            position:absolute;
            top:1em;
            bottom:1em;
            right:1em;
            width:30em;
            font-family: Arial, Helvetica, sans-serif;
        }

            .twitter____tweet__timeStamp {
                font-size:0.875em;
                color:#8899a6;
            }
            .twitter____tweet__timeStamp:after {
                content:'\f179';
                font-family:'rosettaicons';
                font-size:1.25em;
                color:#88c9f9;
                position:absolute;
                top:-0.25em;
                right:0;
            }

            .twitter____tweet__title {
                color:#292f33;
                font-size:1.5em;
                font-weight:600;
            }


        .twitter____tweet__container {
            margin:0 0 0.75em;
            overflow-y:auto;
            position:absolute;
            top:0.75em;
            bottom:0.75em;
            left:0.75em;
            right:0.75em;
        }

            .twitter____tweet__copy {
                color:#292f33;
                font-size:1.5em;
            }

                .twitter____tweet__hashtag {
                    color:#2b7bb9;
                }

            .twitter____tweet__cta--btn, 
            .twitter____tweet__cta--btn:focus {
                border:1px solid #d94040;
                border-radius:3px;
                margin:0 0 2em;
                padding:0.5em 0;
                max-width:15em;
                background-color:#d94040;
                color:#fff;
                text-transform:uppercase;
                font-size:1em;
                text-align:center;
            }

            .card__group .twitter____tweet__cta--btn,
            .card__group .twitter____tweet__cta--btn:focus {
                display:none;
            }

            .card__group.twitter____card__group--sponsored .twitter____tweet__cta--btn,
            .card__group.twitter____card__group--sponsored .twitter____tweet__cta--btn:focus {
                display:block;
            }

            .twitter____tweet__cta--link,
            .twitter____tweet__cta--link:focus {
                color:#d94040;
                font-size:1.5em;
                margin:0 0 1em;
            }

            .card__group .twitter____tweet__cta--link,
            .card__group .twitter____tweet__cta--link:focus {
                display:none;
            }

            .card__group.twitter____card__group--sponsored .twitter____tweet__cta--link,
            .card__group.twitter____card__group--sponsored .twitter____tweet__cta--link:focus {
                display:inline-block;
            }


        .twitter____tweet__feedback {
            font-size:1rem;
            display:block;
        }

            .twitter____tweet__reply,
            .twitter____tweet__retweet,
            .twitter____tweet__favorite {
                margin:0 2em 0 0;
                color:#8899a6;
                font-weight:700;
            }

            .twitter____tweet__reply:before,
            .twitter____tweet__retweet:before,
            .twitter____tweet__favorite:before {
                font-family:'rosettaicons';
                font-weight:normal;
                color:#ccd6dd;
                margin:0 0.5em 0 0;
            }
            .twitter____tweet__reply:before {
                content:'\f151';
            }
            .twitter____tweet__retweet:before {
                content:'\f152';
            }
            .twitter____tweet__favorite:before {
                content:'\f147';
            }

        





/*  ================================================
    twitter gif card
    ================================================ */


    .twitter____mediaGif__group {
        position:absolute;
        left:12em;
        right:31em;
        top:1em;
        bottom:1em;
    }

        .twitter____mediaGif__box {
            width:100%;
            height:100%;
            background:#000;
            border-radius:4px 0 0 4px;
            border:1px solid #000;
        }

            .twitter____mediaGif {
                width:100%;
                height:100%;
            }





/*  ================================================
    twitter video card
    ================================================ */


    .twitter____mediaVid__group {
        position:absolute;
        top:1em;
        bottom:1em;
        left:12em;
        right:31em;
        border-radius:4px 0 0 4px;
        border:1px solid #000;
        
    }

        .twitter____mediaVid__box {
            background:#000;
            width:100%;
            height:100%;
        }

            .twitter____mediaVid {
                width:100%;
                height:100%;
                position:absolute;
                border:0;
            }



