<input
    data-view="CheckboxView"
    data-target="controller" data-action="setShowDescription"
    data-properties="checked:showDescription"
    type="checkbox"
    id="toggle__btn"
    name="toggle__btn"
/>
<div class="header__container"></div>
<div class="main__container">
    <div class="main wrapper clearfix"></div>
</div>
<div class="footer__container"></div>
<div class="slider__wrap">
    <div class="viewPane">
        <ul data-view="slides:CarouselView" data-model="slides" class="slideshow__slider">
            <li
                class="slideshow__item"
                data-target="view" data-action="clickthrough"
                data-class="active:slideshow__item--current previous:slideshow__item--previous next:slideshow__item--next"
            >
                <div class="slide__holder">
                    <div class="slide slide--front">
                        <a href="{{clickthrough}}" target="_blank"><img tb-src="{{uri}}" /></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="app__info">
    <div class="app__icon">
        <img tb-src="{{thumbs.small}}" class="app__icon--logo" />
    </div>
    <div class="app__title">
        <h1 class="app__title--name">{{title}}</h1>
        <span class="app__sponsor">By {{sponsor}}</span>
    </div>
    <div data-if="rating" class="app__ratings">
        <ul data-view="StarRatingView" data-model="rating" class="app__ratings--stars"></ul>
    </div>
    <div class="app__cost">
        <span>{{price}}</span>
    </div>
    <div class="action__button">
        <a
            data-view="LinkItemView" data-model="action"
            data-target="controller" data-action="clickthrough"
            href="{{action.href}}" target="_blank"
        >
            {{text}} <i class="fa-icon icon-down-circled2"></i>
        </a>
    </div>
</div>
<label
    for="toggle__btn" class="description__close"
    data-view="LinkItemView"
    data-target="controller" data-action="interaction"
    data-link-context="expandClose"
>
</label>
<div class="expand__group"
    data-view="LinkItemView" data-target="controller" data-action="interaction" data-link-context="expandOpen">
    <div class="expand__box">
        <label for="toggle__btn" class="expand__btn"><span class="expand__label"></span></label>
    </div><!-- .expand__box -->
</div><!-- .expand__group-->
<div class="description__group" data-class="action.text::copy__fullWidth">
    <div class="description__container">
        <p>{{note}}</p>
    </div>
</div><!-- .description__group -->
