<div class="MiniReel" data-class="isSponsored:MiniReel--brandedMR">

    <header class="titleBar__group clearfix" data-if="isSponsored">
        <div class="brandProfile__group clearfix">
            <span data-if="website.logo" data-view="logoView:LinkItemView" data-model="website"><a href="{{href}}" target="_blank" title="{{text}}" class="brandProfile__logoBox">
                <img src="{{logo}}" alt="{{text}}" class="brandProfile__logo">
            </a></span>
            <div data-if="hasSponsoredCopy" class="brandProfile__copy">
                <p data-if="sponsor" data-view="websiteView:LinkItemView" data-model="website" class="brandProfile__tag">
                    Sponsored by 
                    <a href="{{href}}" class="textLink" target="_blank" title="{{text}}">
                        {{text}}
                    </a>
                </p>
                <div data-if="links.length" data-view="links:LinksListView" data-model="links" class="brandProfile__links">
                    <span><a href="{{href}}"
                        target="_blank"
                        title="{{label}}"
                        class="brandProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                        <span class="ir">{{label}}</span>
                    </a></span>
                </div>
            </div>
        </div>
        <div data-if="action.text" class="brand__actions">
            <span data-if="action.isText" data-view="ctaTextView:LinkItemView" data-model="action"><a href="{{href}}" target="_blank">{{text}}</a></span>
            <span data-if="action.isButton" data-view="ctaButtonView:LinkItemView" data-model="action"><a href="{{href}}" target="_blank" class="brand__goBtn btnPrimary" title="{{text}}">
                <span class="btn__label tk--action">{{text}}</span>
            </a></span>
        </div>
    </header>

    <ul class="cards__list">
        <li class="cards__item">
            <article class="card__group">
                <div data-view="postOutlet:View"></div><!-- post module outlet -->
                <div class="player__group">
                    <div data-view="playerOutlet:PlayerOutletView" class="player js-playerBox"></div>
                </div>

                <div class="card__copy">
                    <h1 class="card__title tk--hdr">
                        {{title}}
                        <span data-if="showSource" class="card__attributes">
                            via&nbsp;<a href="{{href}}" target="_blank" title="{{source}}">{{source}}</a>
                        </span>
                    </h1>

                    <div class="card__desc">{{note}}</div>
                </div>
            </article>
        </li>
    </ul>

    <div data-view="displayAdOutlet:View"></div><!-- display ad outlet -->
</div><!--.MiniReel-->
