<article class="card__group">
    <div data-view="skipTimer:SkipTimerView" class="adSkip__group--sponsored c6-fade">
        <p class="adSkip__message">Skip in <strong>{{remaining}}</strong></p>
    </div>
    <div data-view="postOutlet:View"></div>
    <div data-view="ballotOutlet:View"></div>
    <div data-view="ballotResultsOutlet:View"></div>
    <div class="player__group">
        <div data-view="playerOutlet:PlayerOutletView" class="js-playerBox player"></div>
    </div>

    <div class="card__copy">

        <h1 class="card__title tk--hdr" data-unless="isSponsored">
            {{title}}
            <span data-if="source" class="card__attributes tk--copy">
                via&nbsp;<a href="{{href}}" target="_blank" class="textLink" title="{{source}}">{{source}}</a>
            </span>
        </h1>

        <div class="sponsorProfile__group clearfix" data-if="isSponsored">
            <a data-if="logo" href="{{website}}"
            target="_blank" title="{{sponsor}}" class="sponsorProfile__imgBox">
                <img src="{{logo}}" alt="{{sponsor}}" class="sponsorProfile__img">
            </a>
            <div class="sponsorProfile__copy" data-class="action.label:sponsorProfile__copy--hasActions" data-if="hasSponsoredCopy">
                <h1 class="card__title tk--hdr">
                    {{title}}
                </h1>
                <div class="card__attributes sponsorProfile__tag" data-if="sponsor">
                    Sponsored by
                    <a href="{{website}}" target="_blank"
                    title="{{sponsor}}" class="textLink">{{sponsor}}</a>
                </div>
                <div data-view="links:LinksListView" class="sponsorProfile__links" data-if="links.length">
                    <span><a title="{{label}}"
                        href="{{href}}"
                        target="_blank"
                        class="sponsorProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                        <span class="ir">{{label}}</span>
                    </a></span>
                </div>
            <!--share to social dropdown menu-->
                <nav class="sponsorProfile__link--menu">
                    <ul>
                      <li><span class="spriteBe socialIconsBe socialIconsBe--share"><span class="ir"><a href="#">Share</a></span></span>
                        <ul>
                          <li><span id="c6-view-180--facebook" class="c6-view"><a data-if="shareLinks.facebook" href="http://www.facebook.com/sharer.php?p[url]={{shareLinks.facebook}}"
                   onclick="return !window.open(this.href, 'Facebook', 'top=225,left=380,toolbar=0,status=0,width=520,height=350')"><span class="spriteBe socialIconsBe socialIconsBe--facebook"> Share</span></a></span></li>
                          <li><span id="c6-view-180--twitter" class="c6-view"><a data-if="shareLinks.twitter" href="https://twitter.com/home?status={{shareLinks.twitter}}"
                   onclick="return !window.open(this.href, 'Facebook', 'top=225,left=380,toolbar=0,status=0,width=520,height=350')"><span class="spriteBe socialIconsBe socialIconsBe--twitter"> Tweet</span></a></li>
                   <li><span id="c6-view-180--pinterest" class="c6-view"><a data-if="shareLinks.pinterest" href="#"><span class="spriteBe socialIconsBe socialIconsBe--pinterest"> Pin it</span></a></li>
                        </ul>
                      </li>
                    </ul>
                </nav>
            <!--share to social dropdown menu ends-->
            </div>
            <div class="card__desc sponsor__actions" data-if="action.label">
                <a data-if="action.isText" title="{{action.label}}" target="_blank" href="{{action.href}}" class="textLink">
                    {{action.label}}
                </a>
                <a data-if="action.isButton" href="{{action.href}}" target="_blank" class="sponsor__goBtn btnPrimary" title="{{action.label}}">
                    <span class="btn__label tk--action">{{action.label}}</span>
                </a>
            </div>
        </div>

        <div class="card__desc">{{note}}</div>
    </div>
</article>
