<article class="card__group twitter____card__group--sponsored"><!--.twitter____card__group--sponsored classes added when twitter card is sponsored-->

    <div class="twitter____player__group player__height playerHeight">

        <section class="twitter____profile__group">

            <a href="#" target="_blank" class="twitter____profile__picBox">
                <img src="https://pbs.twimg.com/profile_images/432921867259613184/q89H1EeV_400x400.jpeg" class="twitter____profile__pic">
            </a>
            <p class="twitter____profile__sponsor">Sponsored by</p>
            <a href="#" target="_blank" class="twitter____profile__name">Jimmy Fallon Tonight</a>
            <a href="#" target="_blank" class="twitter____profile__handle">@jifallontonight</a>
            <a href="#" target="_blank" class="twitter____profile__follow">Follow</a>
            <ul class="twitter____socialMedia__group"><!--.twitter____socialMedia__group only for sponsored Twitter cards-->
                <li class="twitter____socialMedia__icon">
                    <a href="#" target="_blank" class="twitter____socialMedia__icon--youtube">
                        <span class="ir">YouTube</span>
                    </a>
                </li>
                <li class="twitter____socialMedia__icon">
                    <a href="#" target="_blank" class="twitter____socialMedia__icon--vimeo">
                        <span class="ir">Vimeo</span>
                    </a>
                </li>
                <li class="twitter____socialMedia__icon">
                    <a href="#" target="_blank" class="twitter____socialMedia__icon--facebook">
                        <span class="ir">Facebook</span>
                    </a>
                </li>
                <li class="twitter____socialMedia__icon">
                    <a href="#" target="_blank" class="twitter____socialMedia__icon--instagram">
                        <span class="ir">Twitter</span>
                    </a>
                </li>
                <li class="twitter____socialMedia__icon">
                    <a href="#" target="_blank" class="twitter____socialMedia__icon--pinterest">
                        <span class="ir">Pinterest</span>
                    </a>
                </li>
            </ul>

        </section> <!--.twitter____profile__group-->


        <section class="twitter____mediaImg__group">

            <div class="twitter____mediaImg" style="background-image:url('https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg');">
                <div class="ir">
                    <img src="https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg">
                </div>
            </div>

        </section><!--.twitter____mediaImg__group-->


        <section class="twitter____tweet__group">

            <div class="twitter____tweet__container">

                <h2 class="twitter____tweet__title">Brutal or Funny?</h2><!--Title can be turned on or off for any kind of MR card view-->                
                <p class="twitter____tweet__copy">We hiiighly recommend not playing any of these songs from Jimmy's <a href="#" target="_blank" class="twitter____tweet__hashtag">#DoNotPlay</a> list</p>
                <a href="#" target="_blank" class="twitter____tweet__cta--btn">Listen Now!</a><!--.twitter____tweet__cta--btn and .twitter____tweet__cta--link are hidden when card is not sponsored-->
                <a href="#" target="_blank" class="twitter____tweet__timeStamp">2 hrs</a>
                <span class="twitter____tweet__feedback">
                    <a href="#" target="_blank" class="twitter____tweet__reply">&nbsp;</a>
                    <a href="#" target="_blank" class="twitter____tweet__retweet">3.2K</a>
                    <a href="#" target="_blank" class="twitter____tweet__favorite">4.5K</a>
                </span>

            </div><!--.twitter____tweet__container-->
        </section><!--.twitter____tweet__group-->
    </div> <!--.twitter____player__group .player__height .playerHeight-->
</article>