<article class="card__group">
    <div class="instag____player__group">

        <section class="instag____profile__group">

            <div class="clearfix instag____profileImg__group">

                <a href="{{userHref}}" target="_blank" class="instag____profileImg__picBox"><img class="instag____profileImg__pic" src="{{userPicture}}">
                </a>

                <a href="{{userHref}}" target="_blank" class="instag____profileImg__name">{{userUsername}}</a>

                <a href="{{userFollow}}" target="_blank" class="instag____profileImg__follow">Follow</a>

            </div><!--.clearfix .instag____profileImg__group-->


            <div class="instag____profileDesc__group">

                <p class="instag____profileDesc"><span class="instag____profileDesc__name">{{userFullname}}</span> {{userBio}} <a href="{{userWebsite}}" target="_blank" class="instag____profileDesc__link">{{userWebsite}}</a></p>

                <ul class="instag____profileData__group">
                    <li class="instag____profileData"><span class="instag____profileData__stat">{{userPosts}}</span> posts</li>
                    <li class="instag____profileData"><span class="instag____profileData__stat">{{userFollowers}}</span> followers</li>
                    <li class="instag____profileData"><span class="instag____profileData__stat">{{userFollowing}}</span> following</li>
                </ul><!--.instag____profileData__group-->

            </div><!--.instag____profileDesc__group-->

            <a href="{{href}}" target="_blank" class="instag____profile__logo">
                <span class="ir">Instagram</span>
            </a>

        </section> <!--.instag____profile__group-->



        <section class="instag____mediaVid__group">

            <div class="instag____mediaVid__box">
                <div data-view="playerOutlet:HtmlVideoPlayer" class="instag____mediaVid"></div>
            </div>

        </section><!--.instag____mediaVid__group-->



        <section class="instag____post__group">

            <div class="instag____postInfo__group clearfix">

                <span class="instag____postInfo__likes">{{likes}} likes</span><a href="{{href}}" target="_blank" class="instag____postInfo__date">{{date}}</a>

                <div class="instag____postInfo__copy">
                    <a href="{{userHref}}" target="_blank" class="instag____postInfo__name">{{userUsername}}</a>
                    <span data-view="captionOutlet:View"></span>
                    <a href="{{href}}" target="_blank" class="instag____postInfo__comments">view {{comments}} comments</a>
                </div>

            </div><!--.instag____postInfo__group-->

            <a href="{{href}}" target="_blank" class="instag____postInfo__feedback">
                <span class="instag____postInfo__comment">Add a comment...</span>
            </a>

        </section><!--.instag____post__group-->
    </div> <!--.instag____player__group .player__height-->
</article>
