<article class="card__group">
    <div data-view="postOutlet:View"></div><!--post module outlet-->
    <div data-view="ballotOutlet:View"></div><!--ballot module outlet-->
    <div data-view="ballotResultsOutlet:View"></div><!--ballot module results outlet-->
    <div data-view="shareOutlet:View"></div>

    <div class="player__group player__height" data-class="isSponsored:player__height--hasSponsor">
        <div data-view="playerOutlet:PlayerOutletView" class="player js-playerBox"></div>
    </div>

    <div class="card__copyBox">
        <span data-if="website.logo"
            data-view="logoView:LinkItemView" data-model="website"
            data-target="controller" data-action="clickthrough" data-link-context="sponsoredLogo">
            <a href="{{href}}" target="_blank" title="{{text}}" class="sponsorProfile__imgBox">
                <span class="sponsorProfile__img" alt="{{text}}" style="background-image:url('{{logo}}');">&nbsp;</span>
            </a>
        </span>
        <div class="card__copy" data-class="isSponsored:card__copy--hasSponsor action.text:card__copy--hasCtA">
            <h1 class="card__title tk--hdr">
                {{title}}
                <span data-if="showSource"
                    class="card__attributes tk--copy">
                    via&nbsp;
                    <a href="{{href}}"
                        target="_blank"
                        class="textLink"
                        title="{{source}}">
                        {{source}}
                    </a>
                </span>
            </h1>

            <div class="sponsorProfile__links">
                <span data-if="sponsor"
                    data-view="websiteView:LinkItemView" data-model="website"
                    data-target="controller" data-action="clickthrough" data-link-context="sponsoredLink"
                    class="card__attributes sponsorProfile__tag tk--copy">
                    Sponsored by
                    <a href="{{href}}" target="_blank" class="textLink" title="{{text}}">{{text}}</a>
                </span>
                <span data-view="links:LinksListView" data-model="links" data-if="links.length">
                    <span data-target="controller" data-action="clickthrough"><a href="{{href}}"
                        target="_blank"
                        title="{{label}}"
                        class="sponsorProfile__link spriteBe socialIconsBe socialIconsBe--{{type}}">
                        <span class="ir">{{label}}</span>
                    </a></span>
                </span>
            </div>
            <!--share to social-->
            <div data-if="canShare" class="sponsorProfile__linkBtn">
                <span><button data-view="shareButton:LinkItemView" data-target="controller" data-action="showShare" data-link-context="shareButton"><span class="spriteBe socialIconsBe socialIconsBe__solid--share shareBtn"><span class="shareBtn__label">Share</span></span></button></span>
            </div>
            <!--share to social-->

            <div class="card__desc">{{note}}</div>
        </div>

        <div class="sponsor__actions" data-if="action.text">
            <span data-if="action.isText"
                data-view="ctaTextView:LinkItemView" data-model="action"
                data-target="controller" data-action="clickthrough"><a title="{{text}}" href="{{href}}" target="_blank" class="textLink">
                {{text}}
            </a></span>
            <span data-if="action.isButton"
                data-view="ctaButtonView:LinkItemView" data-model="action"
                data-target="controller" data-action="clickthrough"><a href="{{href}}" target="_blank" class="sponsor__goBtn btnPrimary" title="{{text}}">
                <span class="btn__label tk--action">{{text}}</span>
            </a></span>
        </div>

    </div>
</article>
