<article class="card__group">
    <div class="textOnly__imgBox" style="background-image:url('{{thumbs.large}}');">
        <h1 class="textOnly__title tk--hdr">{{title}}</h1>
    </div>

    <div class="textOnly__copy">
        <div class="card__desc">{{note}}</div>
        <button data-view="beginButton:ButtonView"
            data-target="controller" data-action="advance"
            class="textOnly__goBtn btnPrimary"
            type="button"
            title="Begin">
            <span class="btn__label tk--action">Begin</span>
        </button>
    </div>
</article>
