<article class="card__group pinterest____card__group">

    <div class="pinterest____player__group player__height playerHeight">

        <section class="pinterest____mediaImg__group">
            <a href="#" target="_blank" class="pinterest____media__btn"><span class="pinterest____media__pinIt"></span></a>
            <div class="pinterest____mediaImg__box">
                <div class="pinterest____mediaImg" style="background-image:url('https://s-media-cache-ak0.pinimg.com/736x/c9/dc/28/c9dc28e9c6eebfe862e21a3836af02bf.jpg');">
                    <div class="ir">
                        <img src="https://pbs.twimg.com/media/CLgrC-QWgAAUlDj.jpg">
                    </div>
                </div>
            </div>
        </section><!--.pinterest____mediaImg__group-->


        <section class="pinterest____pin__group">

            <div class="pinterest____pin__container">
                              
                <p class="pinterest____pin__copy"> When Ed shows up in a red coat for the 4th of July because he just can't let it go. <a href="#" target="_blank" class="pinterest____pin__link">#4thofJuly</a> -Taylor Swift- </p>
                
                <ul class="pinterest____feedback__group">
                    <li class="pinterest____feedback__box"><a href="#" target="_blank" class="pinterest____feedback__pin">103</a></li>
                    <li class="pinterest____feedback__box"><a href="#" target="_blank" class="pinterest____feedback__like">79</a></li>
                </ul>

                <div class="pinterest____profile__group">
                    <a href="#" target="_blank" class="pinterest____profile__picBox">
                        <img src="https://s-media-cache-ak0.pinimg.com/avatars/Tayloralisons89-1409392957_75.jpg" class="pinterest____profile__pic">
                    </a>
                    <a href="#" target="_blank" class="pinterest____profile__name">Taylor Swift</a>
                    <p class="pinterest____profile__board">Friends and Family</p>
                </div><!--.pinterest____profile__group-->

            </div><!--.pinterest____pin__container-->

        </section><!--.pinterest____pin__group-->

        

    </div> <!--.pinterest____player__group .player__height .playerHeight-->
</article>