<article class="card__group">
    <div class="player__height playerHeight instag____player__group">

        <section class="instag____mediaVid__group">
            <div class="instag____mediaVid__box">
                <div data-view="playerOutlet:PlayerOutletView" class="instag____mediaVid"></div>
            </div><!--.instag____mediaVid__box-->
        </section><!--.instag____mediaVid__group-->

        <section class="instag____post__group">
            <div class="instag____post__title">Meet the cats raffle!</div><!--Title can be turned on or off for any kind of MR card view-->
            <div class="instag____postAccount__group--small clearfix"><!--instag____postAccount__group--small is for mobile media queries only-->
                <div class="clearfix">
                    <a href="{{userHref}}" target="_blank"><img src="{{userPicture}}"class="instag____postAccount__pic"></a>
                    <span class="instag____profile__sponsor">Sponsored by</span><!--.instag____profile__sponsor only for sponsored instagram cards-->
                    <a href="{{userHref}}" target="_blank" class="instag____postAccount__name">{{userUsername}}needstobelongerthanit</a>
                    <a href="{{href}}" target="_blank" class="instag____postAccount__logo">
                        <span class="ir">Instagram</span>
                    </a>
                </div>
                <ul class="instag____socialMedia__group"><!--.instag____profileSocial__group only for sponsored Instagram cards-->
                    <li class="instag____socialMedia__icon">
                        <a href="#" target="_blank" class="instag____socialMedia__icon--youtube">
                            <span class="ir">YouTube</span>
                        </a>
                    </li>
                    <li class="instag____socialMedia__icon">
                        <a href="#" target="_blank" class="instag____socialMedia__icon--vimeo">
                            <span class="ir">Vimeo</span>
                        </a>
                    </li>
                    <li class="instag____socialMedia__icon">
                        <a href="#" target="_blank" class="instag____socialMedia__icon--facebook">
                            <span class="ir">Facebook</span>
                        </a>
                    </li>
                    <li class="instag____socialMedia__icon">
                        <a href="#" target="_blank" class="instag____socialMedia__icon--twitter">
                            <span class="ir">Twitter</span>
                        </a>
                    </li>
                    <li class="instag____socialMedia__icon">
                        <a href="#" target="_blank" class="instag____socialMedia__icon--pinterest">
                            <span class="ir">Pinterest</span>
                        </a>
                    </li>
                </ul>
            </div><!--.instag____postAccount__group-->
            <div class="instag____postInfo__group clearfix">
                <span class="instag____postInfo__likes">{{likes}} likes</span><a href="{{href}}" target="_blank" class="instag____postInfo__date">{{date}}</a>

                <div class="instag____postInfo__copy">
                    <a href="{{userHref}}" target="_blank" class="instag____postInfo__name">{{userUsername}}</a>
                    <span data-view="captionView:InstagramCaptionView"></span>

                    <a href="#" target="_blank" class="instag____postInfo__cta">Sign up now!</a><!--.instag____postInfo__cta only for sponsored instagram cards-->

                    <a href="{{href}}" target="_blank" class="instag____postInfo__comments">view {{comments}} comments</a>
                </div>
            </div><!--.instag____postInfo__group .clearfix-->
            <a href="{{href}}" target="_blank" class="instag____postInfo__feedback">
                <span class="instag____postInfo__comment">Add a comment...</span>
            </a>
        </section><!--.instag____post__group-->
    </div> <!--.instag____player__group .player__height .playerHeight-->
</article>
