
/*  ================================================
    image card classes
    ================================================ */
    .imgCard {
        width:100%; height:100%;
        background:#fff;
    }
        .imgCard--getty {
            overflow: auto;
        }

        .imgCard__imgBox {
            background:50% 50% / contain no-repeat;
            width:100%; height:100%;
        }
            .imgCard__img {
                display: none;
            }



        .imgCard__gettyEmbed {
            max-width:594px;
            margin:0 auto;
        }

            .imgCard__iframeHolder {
                width:100%; height:0;
                padding:66% 0 0 0;
                position: relative;
            }

            .imgCard__iframe--getty {
                width:100%; height:100%;
                position: absolute;
                top:0; left:0;
            }

        .gettyFooter {
            text-align: center;
        }


