
/*  ================================================
    Pager Nav classes
    ================================================ */ 
    .pager__group {
        height:3em;/*48px*/
        margin:0; display: block; 
        position: absolute; z-index: 1;
        left:0.5em; right:0.5em; bottom:0.5em;/*8px*/
    }


    .pager__btn {
        min-width:6em; height:3em; 
        position:absolute;
        background:#d94040;
    }
        .pager__btn--prev {
            left:0;
        }
        .pager__btn--next {
            right:0;
        }

        .pager__btnIcon {
            display:block;
            width:0.8125em; height:1.5em;
            position:absolute;
            top:0.5625em; left:12.5%;
            margin:0;
        }
            .pager__btnIcon--next {
                right:12.5%; left:auto;
            }
                .pager__btnIconPath {
                    fill: #fff;
                }

        .pager__label {
            position:absolute; z-index: 1; 
            top:1em; left:40%;
        }
            .pager__btn--next .pager__label {
                right:40%; left:auto;
            }


    /* pages styles */
    .pages__group {
        position:absolute;
        height:3em; overflow: hidden; 
        margin:0;
    }
        .pages__scroller {
            position: relative; left: 0;
            -webkit-transition: 0.5s transform;
            transition: 0.5s transform;
        }
            .pages__list {
                margin:0; padding:0; 
                list-style: none;
                width:12000%;
            }
                .pages__item {
                    float:left;
                    width:5em; height:3em;
                    margin:0 1px; padding:0;
                    position:relative;
                    overflow: hidden;
                    border:0;
                }
                    .pages__navBtn,
                    .page__btn {
                        display: block;
                        width:100%; height:100%;
                        margin:0; border:0; padding:0;
                    }
                    .page__btn {
                        cursor: pointer;
                        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                    }
                        .page__btn:before {
                            content:'';
                            position:absolute;
                            z-index: 2;
                            bottom:-4px; left:0;
                            width:100%; height:3px;
                            background:#d94040;
                            border-top:1px solid #fff;
                            -webkit-transition:bottom 0.2s; 
                            transition:bottom 0.2s; 
                        }
                            .page__btn.page__btn--active:before {
                                bottom:0;
                            }
                        .page__btn--ad:after {
                            content:'Ad';
                            position: absolute;
                            top:2px; left:2px;
                            background:#000; color:#fff;
                            padding:0 2px;
                            font-size:0.625rem; font-weight:bold;
                        }

                        
                        .page__previewImg {
                            position:absolute; top:0;
                            width:100%; height:100%; display: block;
                            background:no-repeat 50% 50% / 100%;
                            -webkit-transition: -webkit-transform 0.3s ease; 
                            transition: 0.3s transform;
                        }

                            .page__previewImg:before {
                                content:'';
                                background:#000;
                                position:absolute;
                                top:0; left:0;
                                width:100%; height:100%;
                                opacity:0.4;
                                -webkit-transition:opacity 0.3s; 
                                transition:opacity 0.3s;
                            }
                                .page__btn--active .page__previewImg:before {
                                    opacity:0;
                                }
